<?php echo $this->partial('partials/_searchBox.phtml'); ?>

<div class="content-column">
<h2>Angebote zum Thema &laquo;Schlafzimmer&raquo;</h2>
<?php
		$this->tabContainer()->captureStart('main-container',
                                    array('design' => 'headline', 'doLayout' => 'false'),
                                    array('style'=>'width:600px;'));

		echo $this->TeaserBoxenTabs($this->themes);

		echo $this->tabContainer()->captureEnd('main-container');		
?>
</div>

<div class="box-column">
	<?php echo $this->partial('partials/_boxColumnThemeDetail.phtml'); ?>
</div>