
<h1>&Uuml;ber Stop &amp; Go</h1>

<div class="col960">
	<h2>
	Stop &amp; Go ermächtigt die Konsumenten, die Kontrolle über ihre eigenen Adressen auszuüben, unerwünschte Werbung zu vermeiden, 
	aber über Angebote informiert zu werden, die sie wirklich interessieren.
	</h2>
</div>

<div class="hSpacer">

<div class="col320">
	<h3>Eine Innovation von Swiss Mail</h3>
	
	<p>Stop &amp; Go ist eine neue und überraschende Dienstleistung der 
	<a href="http://www.swiss-mail.ch" target="_blank">Swiss Mail &mdash; die private Post</a>, 
	für die Schweizer Konsumentinnen und Konsumenten. Stop &amp; Go wurde entwickelt, um den Konsumenten die 
	Kontrolle über Ihre physischen und digitalen Adressen zurück zu geben und sie zu ermächtigen, 
	über den Werbeempfang selber zu bestimmen.</p>
	
	<p><a href="<?php echo $this->url(array('controller'=>'page','action'=>'info'),'default',true) ?>">&raquo; Konzept &amp; Idee</a></p>
	
	<p>&nbsp;</p>
	<h3>Datenschutz</h3>
	
	<p>Bei Stop &amp; Go steht der Datenschutz über allem. Das Gütesiegel GoodPriv@cy ist nur ein Beweis dafür, 
	dass Ihre Daten bei Stop &amp; Go sicher aufbewahrt sind. </p>
	
	<p><a href="<?php echo $this->url(array('controller'=>'page','action'=>'privacy'),'default',true) ?>">&raquo; Datenschutz bei Stop &amp; Go</a></p>
	
	<p>&nbsp;</p>
	<h3>Sicherheit</h3>
	
	<p>Alle Übermittlungen zwischen Ihnen und Stop &amp; Go laufen immer über eine gesicherte Verbindung. 
	Dafür sind wir von VeriSign zertifiziert. </p>
	
	<p><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">&raquo; Zertifikat ansehen</a></p>
	
	<p>Die Server von Stop &amp; Go sind in einem Hochsicherheitstrakt untergebracht, gegen Diebstahl und 
	gegen unbefugten Zutritt und Zugriff geschützt. </p>
	
	<p><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">&raquo; Details</a></p>
</div>

<div class="col320">
	<h3>Keine Datenbearbeitung, ausser durch Sie selber</h3>
	
	<p>Ihre Daten sind nicht nur sicher und bleiben anonym, sie werden von uns auch nicht bearbeitet. 
	Nur Sie als Konsumentin oder Konsument kontrollieren und bearbeiten Ihre eigenen Daten und Profilmerkmale.</p>
	
	<p>&nbsp;</p>
	<h3>Wir nehmen Sie ernst</h3>
	
	<p>Die Swiss Mail ist Ihr neuer Partner für viele Aspekte des adressierten und unadressierten Direkt Marketings. 
	Wir nehmen Sie als Konsumentin und Konsument ernst und geben Ihnen die Instrumente in die Hand, um 
	sich &mdash; und auch die Umwelt &mdash; besser vor unerwünschter und unnötiger Werbung zu schützen.</p>
	
	<p>&nbsp;</p>
	<h3>Unsere Partner</h3>
	
	<p>Für das innovative Projekt von Stop &amp; Go stützt sich Swiss Mail für Technik und Logistik auf starke Partner.</p>
	
	<p>
	<a href="http://www.awz.ch" target="_blank">&raquo; AWZ AG</a><br />
	<a href="http://www.quickmail-ag.ch" target="_blank">&raquo; Quickmail AG</a><br />
	<a href="http://www.bsmediavision.ch" target="_blank">&raquo; BS MediaVision AG</a><br />
	</p>

</div>

<div class="col320">

	<div class="info-box brown">
		<h3>Jetzt anmelden und selber bestimmen!</h3>
	
			<ul>
					<li class="first"><a href="<?php echo $this->url(array('controller'=>'register','action'=>'index'),'default',true) ?>">Jetzt registrieren</a></li>
			</ul>
	</div>
	
	<div class="info-box purple">
		<h3>Verwandte Themen und Infos</h3>
	
			<ul>
					
					<li class="first"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'info'),'default',true) ?>">Konzept &amp; Idee</a></li>
					<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'waytogo'),'default',true) ?>">So geht's</a></li>
					<li class="last"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'manifesto'),'default',true) ?>">Konsumentenschutz-Manifesto</a></li>
					
			</ul>
	</div>
	

</div>

<div class="hSpacer">

<p>&nbsp;</p>