
	
<h1>Ihr Kontostand</h1>

	

<div class="col960">
	<h2>Hier sehen Sie Ihren Kontostand auf Stop &amp; Go</h2>
</div>

<div class="hSpacer">

<div class="col640">
	<h3>Werbemittelansichten</h3>
	
	<table width="90%" border="0" bgcolor="#F1F1F1">
  
	  <tr>
	    <td width="50%" bgcolor="#FF99FF">Werbemittel</td>
	    <td width="5%">&nbsp;</td>
	    <td width="45%" bgcolor="#FF99FF">Go-Points</td>
	  </tr>
	  <tr>
	    <td width="50%">Coopzeitung</td>
	    <td width="5%">&nbsp;</td>
	    <td width="45%">5</td>
	  </tr>
	  <tr>
	    <td>Aldi Woche</td>
	    <td>&nbsp;</td>
	    <td>4</td>
	  </tr>
	  <tr>
	    <td>Migros Magazin</td>
	    <td>&nbsp;</td>
	    <td>5</td>
	  </tr>
	  <tr>
	    <td>Thömus Veloshop</td>
	    <td>&nbsp;</td>
	    <td>3</td>
	  </tr>
	  <tr>
	    <td>Otto's</td>
	    <td>&nbsp;</td>
	    <td>3</td>
	  </tr>
	  <tr>
	    <td bgcolor="#FF99FF">Total Werbemittel</td>
	    <td>&nbsp;</td>
	    <td bgcolor="#FF99FF">20</td>
	  </tr>
	</table>
	
	<p>&nbsp;</p>
	<h3>Physische Bestellungen</h3>
	
	<table width="90%" border="0" bgcolor="#F1F1F1">
  
	  <tr>
	    <td width="50%" bgcolor="#FF99FF">Bestellungen</td>
	    <td width="5%">&nbsp;</td>
	    <td width="45%" bgcolor="#FF99FF">Go-Points</td>
	  </tr>
	  <tr>
	    <td width="50%">Beliani Schlafzimmer</td>
	    <td width="%">&nbsp;</td>
	    <td width="45%">5</td>
	  </tr>
	  <tr>
	    <td>Coopzeitung</td>
	    <td>&nbsp;</td>
	    <td>4</td>
	  </tr>
	  <tr>
	    <td>Migros Magazin</td>
	    <td>&nbsp;</td>
	    <td>5</td>
	  </tr>
	  <tr>
	    <td>Thömus Veloshop</td>
	    <td>&nbsp;</td>
	    <td>3</td>
	  </tr>
	  <tr>
	    <td>Otto's</td>
	    <td>&nbsp;</td>
	    <td>3</td>
	  </tr>
	  <tr>
	    <td bgcolor="#FF99FF">Total Bestellungen</td>
	    <td>&nbsp;</td>
	    <td bgcolor="#FF99FF">20</td>
	  </tr>
	</table>
	
	<p>&nbsp;</p>
	<h3>Newsletters</h3>
	
	<table width="90%" border="0" bgcolor="#F1F1F1">
  
	  <tr>
	    <td width="50%" bgcolor="#FF99FF">Newsletter</td>
	    <td width="5%">&nbsp;</td>
	    <td width="45%" bgcolor="#FF99FF">Go-Points</td>
	  </tr>
	  <tr>
	    <td width="50%">Dior</td>
	    <td width="%">&nbsp;</td>
	    <td width="45%">5</td>
	  </tr>
	  <tr>
	    <td>Tommy Hilfiger</td>
	    <td>&nbsp;</td>
	    <td>4</td>
	  </tr>
	  <tr>
	    <td>Orell Füssli</td>
	    <td>&nbsp;</td>
	    <td>5</td>
	  </tr>
	  <tr>
	    <td>Niederhauser Fahrzeugbau</td>
	    <td>&nbsp;</td>
	    <td>3</td>
	  </tr>
	  <tr>
	    <td>Otto's</td>
	    <td>&nbsp;</td>
	    <td>3</td>
	  </tr>
	  <tr>
	    <td bgcolor="#FF99FF">Total Newsletter</td>
	    <td>&nbsp;</td>
	    <td bgcolor="#FF99FF">20</td>
	  </tr>
	</table>
	
	
</div>



<div class="col320">

	
	
	<div class="info-box purple">
		<h3>Ihr Guthaben verwalten</h3>
	
			<ul>
			<p>Sie haben total 60 Go-Point. <br />Das entspricht CHF 18.60.</p>
					<li class="first"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Guthaben einlösen</a></li>
					<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Guthaben spenden</a></li>
					<li class="last"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Guthaben verschenken</a></li>
					
			
			</ul>
			
	</div>
	
	
	
	
</div>

<div class="hSpacer">

<div class="col320">

	
</div>

<div class="hSpacer">

<p>&nbsp;</p>
