
<h1>Informationen für Gesch&auml;ftskunden</h1>

<div class="col960">
	<h2>&Uuml;ber Stop &amp; Go erreichen Sie nur qualifizierte Kontakte, elektronisch oder physisch. 
	Ihr Streuverlust ist praktisch gleich null. Und Sie profitieren von komplett neuen Marktdaten.</h2>
</div>

<div class="hSpacer">

<div class="col320">
	<h3>Moment mal, wie funktioniert das?</h3>
		<p><img src="images/ok2.gif" align="left" />Auf Stop &amp; Go erreichen Sie zur Zeit 240'655 private Briefkästen mit 626'325 Personen. 
		Dazu sind 120'346 Firmenbriefkästen registriert. Sie alle haben ihre Interessen definiert und erhalten nur Werbemittel, die sie explizit verlangen oder 
		was gemäss ihrem Profil automatisch empfohlen wird. Aha.</p>
		
		<p><img src="images/ok2.gif" align="left" />72% der registrierten Briefkästen haben einen Stopp-Kleber. Sie erreichen die Besitzer über Stop &amp; Go trotzdem. Vorausgesetzt, die Besitzer haben 
		Ihr Einverständnis gegeben.</p>
	
	<p>&nbsp;</p>
	<h3>Profilselektionen ganz neu</h3>
		<p><img src="images/ok2.gif" align="left" />Die Konsumenten konfigurieren auf Stop &amp; Go ihre Profilmerkmale und Interessen selber. 
		Sie verwalten auch ihre Adressdaten selbständig. Sie können für Ihre Kampagnen und Produktangebote aus allen Profilen Ihre eigene Selektion 
		vornehmen. Sie sehen immer, wieviele in Ihrer Zielgruppe sind, wie Sie die Konsumenten erreichen.</p> 
		
		<p><img src="images/ok2.gif" align="left" />Allerdings beliben die Konsumenten für Sie 
		immer anonym. Dafür sind für Sie viel mehr und interessantere Profilmerkmale ersichtlich.</p>
	
</div>

<div class="col320">
	<h3>Wie profitiere ich davon?</h3>
		<p><img src="images/ok2.gif" align="left" />Erstens gehen Sie eine ganz neue Partnerschaft mit den Konsumenten ein, wenn Sie Ihre Angebote 
		über Stop &amp; Go kommunizieren. Zweitens können Sie einen Haufen Geld sparen, weil Sie über Stop &amp; Go viel mehr Konsumenten 
		digital erreichen und sich Druckkosten sparen können.</p>
	
		
	<p>&nbsp;</p>
	<h3>Anbieter-Demos</h3>
		<p><img src="images/ok2.gif" align="left" />Schauen Sie sich die 6 Anieter-Demos an, damit Sie sich einen Überblick über die Möglichkeiten mit Stop &amp; Go verschaffen können.</p>
		
		<p>
		Demo 1: <a href="<?php echo $this->url(array('controller'=>'page','action'=>'demo1'),'default',true) ?>">Typisches Anbieterprofil</a><br />
		Demo 2: <a href="<?php echo $this->url(array('controller'=>'page','action'=>'demo2'),'default',true) ?>">Profilselektion</a><br />
		Demo 3: <a href="<?php echo $this->url(array('controller'=>'page','action'=>'demo3'),'default',true) ?>">Katalog/Prospekt hochladen</a><br />
		Demo 4: <a href="<?php echo $this->url(array('controller'=>'page','action'=>'demo4'),'default',true) ?>">Online-Ad platzieren</a><br />
		Demo 5: <a href="<?php echo $this->url(array('controller'=>'page','action'=>'demo5'),'default',true) ?>">Mailing konfigurieren</a><br />
		Demo 6: <a href="<?php echo $this->url(array('controller'=>'page','action'=>'demo6'),'default',true) ?>">Analyse- und Statistik-Beispiele</a><br />
		
		</p>
</div>

<div class="col320">
	<div class="info-box brown">
		<h3>Kontakt und Infos</h3>
	
			<ul>
					<p>Finden Sie mehr über dieses innovative Direkt Marketing System heraus:</p>
					<li class="first"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'manifesto'),'default',true) ?>">Konsumentenschutz-Manifesto</a></li>
					<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'guidelines'),'default',true) ?>">Kosumenten-Leitfaden</a></li>
					<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'about'),'default',true) ?>">Über Stop &amp; Go</a></li>
					<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'waytogo'),'default',true) ?>">So geht's</a></li>
					<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'faq'),'default',true) ?>">FAQ</a></li>
					<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'privacy'),'default',true) ?>">Datenschutz</a></li>
					<li class="last"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'contact'),'default',true) ?>">Kontakt</a></li>
			</ul>
	</div>
</div>
<div class="hSpacer">

<p>&nbsp;</p>