<div class="content-box">
	<div class="third-column">
		<div style="padding: 5px;">
			<img src="images/reg_ok.jpg" width="300" height="224" />
    	</div>
	</div>
	<div class="two-third-column">
		<div class="list-row">
		 <h2>Herzlich willkommen bei Stop &amp; Go!</h2>
		 <p style="font-weight:bolder;">Double-Opt-In</p>
		 <p>Bitte prüfen Sie Ihre Mailbox. Sie haben zur Bestätigung einen Link an die angegebene E-Mailadresse erhalten, 
		 um Ihren Account zu aktivieren. Sie können aber schon jetzt erste Basisdaten und soziodemografische Merkmale erfassen. <br /><br />

		 <!-- <a href="<?php echo $this->url(array('controller'=>'profile','action'=>'index'),'default',true) ?>">Hier klicken</a> 
		 um Ihr Profil zu erstellen. -->
		 
		 </p>
		 
		 
		 <p>
		 <a href="<?php echo $this->url(array('controller'=>'profile','action'=>'index'),'default',true) ?>"><img src="images/start.gif" /></a>
		 </p>
		 <br clear="all" />
		 <p>Im nächsten Schritt können Sie die Merkmale Ihres anonymen Profils auf Stop &amp; Go erfassen.</p>
		 
		 
		 
		</div>
	</div>
</div>