
<h1>Kontakt</h1>

<div class="col640">
	<h2>Sie haben eine Frage? <br />Einen kritischen Kommentar? <br />Oder vielleicht eine Anregung?</h2>
</div>

<div class="hSpacer">

<div class="col640">
	<h3>F&uuml;llen Sie das Formular aus und wir werden Ihnen so schnell wie m&ouml;glich helfen.</h3>
	
	
	<!--  Betreff: <br /><br />
	______________________________<br /><br />
	E-Mail: <br /><br />
	______________________________<br /><br />
	Kommentar: <br /><br />
	______________________________<br /><br /> -->
	
		<form action="" method="post">
          <p>Name<br /><input name="name" size="40"/><br /><br />
          E-Mail<br /><input name="email" size="40"/><br /><br />
          Betreff &nbsp; <select name="betreff"size="1">
              <option>Hilfe</option>
              <option>Kritik</option>
              <option>Frage</option>
              <option>Anregung</option>
              <option>Sonstiges</option>
          </select><br /><br />
          Nachricht <br />
          <textarea name="text" cols="50" rows="10"></textarea>
          <br /><br />
          <input name="submit" type="submit" value="absenden"/></p>
      </form>
	
</div>

<div class="col320">

	<div class="info-box brown">
		<h3>Sie erreichen uns auch per Post, Telefon oder Mail</h3>
			<ul>
			<p>
			Stop &amp; Go<br />
			c/o Swiss Mail &mdash; die private Post<br />
			Sulgenrain 24<br />
			Postfach<br />
			3000 Bern 23<br />
			</p>
			
			<p>Oder telefonisch:<br />
			Telefon 031 560 60 60</p>
			
			<p>Kundendienst:<br />customerservice@stop-and-go.ch</p>
			
			<p>&nbsp;</p>
			</ul>
			
	</div>

</div>

<div class="hSpacer">


<p>&nbsp;</p>

