<?php echo $this->partial('partials/_searchBox.phtml'); ?>

<div class="content-column">
	<h2>Coopzeitung</h2>
	<div class="h2-subline">14. Februar 2011 <a href="#">Weitere Publikationen von Coop</a></div>
	
	<!-- ISSUU.com embed code -->
		<object style="width:600px;height:409px" ><param name="movie" value="http://static.issuu.com/webembed/viewers/style1/v1/IssuuViewer.swf?mode=embed&amp;layout=http%3A%2F%2Fskin.issuu.com%2Fv%2Flight%2Flayout.xml&amp;showFlipBtn=true&amp;autoFlip=true&amp;autoFlipTime=6000&amp;documentId=081223140718-f01bc5f93d2a448aaa8248ce31c21a99&amp;docName=coopzeitung-52&amp;username=ewaibel&amp;loadingInfoText=Coopzeitung%20Nr.%2052&amp;et=1297069594087&amp;er=18" /><param name="allowfullscreen" value="true"/><param name="menu" value="false"/><embed src="http://static.issuu.com/webembed/viewers/style1/v1/IssuuViewer.swf" type="application/x-shockwave-flash" allowfullscreen="true" menu="false" style="width:600px;height:409px" flashvars="mode=embed&amp;layout=http%3A%2F%2Fskin.issuu.com%2Fv%2Flight%2Flayout.xml&amp;showFlipBtn=true&amp;autoFlip=true&amp;autoFlipTime=6000&amp;documentId=081223140718-f01bc5f93d2a448aaa8248ce31c21a99&amp;docName=coopzeitung-52&amp;username=ewaibel&amp;loadingInfoText=Coopzeitung%20Nr.%2052&amp;et=1297069594087&amp;er=18" /></object>
	
	
	<!-- User voting / sharing -->
	<h2>Dieses Werbemittel bearbeiten</h2>
	<p>Sie können das Werbemittel bewerten, konfigurieren, weiterempfehlen, drucken, als ungeeignet markieren oder speichern. <br />
	Sie können darin suchen oder das Werbemittel auf Facebook teilen. <br />
	Sie können das Werbemittel auch kommentieren.</p>
	<div class="user-votings-sharing">
		<img src="images/dummy_controls.gif">
		<img src="images/dummy_commentbox.gif">		
	</div>
</div>

<div class="box-column">
	<?php echo $this->partial('partials/_boxColumnCoopzeitung.phtml'); ?>
</div>