
<h1>Demo 1: Typisches Anbieterprofil</h1>

<div class="col640">
	<p style="font-weight:bolder;">Das Anbieterprofil zeigt Ihnen auf, wie Ihr Profil als Anbieter auf Stop &amp; Go 
	aussieht. Bedenken Sie, es handelt sich hier um einen Prototypen und die Ansichten sind jediglich skizziert.
	</p>
</div>

<div class="hSpacer">

<div class="col640">
	<h3>Typisches Anbieterprofil</h3>
	
	<p>Hier kommt das Intro hin.</p>
</div>

<div class="hSpacer">

<div class="col640">

	<p>Hier kommt die Präsi hin.</p>
	
</div>



<div class="hSpacer">

<p>&nbsp;</p>
