
<h1>Demo 4: Online-Ad platzieren</h1>

<div class="col640">
	<p style="font-weight:bolder;">Dieses Demo zeigt Ihnen, wie Sie ein Online-Ad platzieren können. 
	Bedenken Sie, es handelt sich hier um einen Prototypen und die Ansichten sind jediglich skizziert.
	</p>
</div>

<div class="hSpacer">

<div class="col640">
	<h3>Online-Ad platzieren</h3>
	
	<p>Hier kommt das Intro hin.</p>
</div>

<div class="hSpacer">

<div class="col640">

	<p>Hier kommt die Präsi hin.</p>
	
</div>



<div class="hSpacer">

<p>&nbsp;</p>
