
<h1>Demo 2: Profilselektion</h1>

<div class="col640">
	<p style="font-weight:bolder;">Die Profilselektion zeigt Ihnen auf, wie Sie aus den Konsumentenprofilen Ihre Selektion treffen können. 
	Bedenken Sie, es handelt sich hier um einen Prototypen und die Ansichten sind jediglich skizziert.
	</p>
</div>

<div class="hSpacer">

<div class="col640">
	<h3>Profilselektion</h3>
	
	<p>Hier kommt das Intro hin.</p>
</div>

<div class="hSpacer">

<div class="col640">

	<p>Hier kommt die Präsi hin.</p>
	
</div>



<div class="hSpacer">

<p>&nbsp;</p>
