
<h1>Demo 6: Analyse- und Statistik-Beispiele</h1>

<div class="col640">
	<p style="font-weight:bolder;">Dieses Demo zeigt Ihnen, wie die Analysen und Statistiken aussehen können. 
	Bedenken Sie, es handelt sich hier um einen Prototypen und die Ansichten sind jediglich skizziert.
	</p>
</div>

<div class="hSpacer">

<div class="col640">
	<h3>Analyse- und Statistik-Beispiele</h3>
	
	<p>Hier kommt das Intro hin.</p>
</div>

<div class="hSpacer">

<div class="col640">

	<p>Hier kommt die Präsi hin.</p>
	
</div>



<div class="hSpacer">

<p>&nbsp;</p>
