<?php echo $this->partial('partials/_searchBox.phtml'); ?>

<div class="content-column">
	<h2>Denner Woche</h2>
	<div class="h2-subline">Ausgabe 5/2011. Gültig ab Mittwoch, 2. Februar 2011. <a href="#">Weitere Publikationen</a></div>
	
	<p><img src="images/dennerwoche.jpg" /></p>
	
	<!-- User voting / sharing -->
	<h2>Dieses Werbemittel bearbeiten</h2>
	<p>Sie können das Werbemittel bewerten, konfigurieren, weiterempfehlen, drucken, als ungeeignet markieren oder speichern. <br />
	Sie können darin suchen oder das Werbemittel auf Facebook teilen. <br />
	Sie können das Werbemittel auch kommentieren.</p>
	<div class="user-votings-sharing">
		<img src="images/dummy_controls.gif">
		<img src="images/dummy_commentbox.gif">		
	</div>
</div>

<div class="box-column">
	<?php echo $this->partial('partials/_boxColumnDenner.phtml'); ?>
</div>