
<h1>Das wäre toll!</h1>

<div class="col640">
	<p style="font-weight:bolder;">Das ist ein Prototyp.<br />
	Nicht alle Seiten existieren. Das ist eine davon.<br />
	Das macht abern nichts. Es ging ja nur um das Feeling... <br />
	</p>
</div>

<div class="hSpacer">

<div class="col320">
	<h3>Ein Schritt zurück</h3>
		
	<p><a href = "javascript:history.back()">&raquo; Ein Schritt, ein Klick zurück!</a></p>
	
</div>

<div class="col320">
	<p>&nbsp;</p>
</div>

<div class="col320">

	<p>&nbsp;</p>
	
</div>



<div class="hSpacer">

<p>&nbsp;</p>
