
	
<h1>FAQ</h1>

	

<div class="col960">
	<h2>Hier finden Sie die Antworten auf häufig gestellte Fragen. Wir haben die häufigsten Fragen an Stop &amp; Go und 
	unsere Antworten für Sie zusammengestellt. Es ist quasi eine Schnellübersicht.</h2>
</div>

<div class="hSpacer">

<div class="col320">
	<h3>Wer betreibt Stop &amp; Go?</h3>
	
	<p>Stop &amp; Go ist ein Angebot von Swiss Mail &mdash; die private Post. Die Plattform wird in 
	Zusammenarbeit mit der AWZ AG Bern, der Quickmail AG St. Gallen, der BS MediaVision AG Wabern und 
	der werbal.com GmbH Oberbalm betrieben.</p>
	
	<p>&nbsp;</p>
	<h3>Und der Datenschutz?</h3>
	
	<p>Stop &amp; Go sichert Ihnen ebenfalls absoluten Datenschutz zu. Ihre persönlichen Daten (wie Namen, E-Mail-Adressen, 
	physische Adressen) werden getrennt von Ihnen Profilmerkmalen aufbewahrt. Rückschlüsse auf Ihre Identität auf 
	Grund von Prfildaten sind nicht möglich.</p>
</div>

<div class="col320">
	<h3>Wie sicher sind meine Daten?</h3>
	
	<p>Stop &amp; Go sichert Ihnen absolute Datensicherheit zu. Die Server sind in Hochsicherheitsräumen untergebracht, Zutritt 
	haben nur berechtigte Personen. </p>
</div>

<div class="col320">

	
	
	<div class="info-box purple">
		<h3>Verwandte Themen und Infos</h3>
	
			<ul>
					<li class="first"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'manifesto'),'default',true) ?>">Konsumentenschutz-Manifesto</a></li>
					<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'guidelines'),'default',true) ?>">Kosumenten-Leitfaden</a></li>
					<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'about'),'default',true) ?>">Über Stop &amp; Go</a></li>
					<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'waytogo'),'default',true) ?>">So geht's</a></li>
					<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'faq'),'default',true) ?>">FAQ</a></li>
					<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'privacy'),'default',true) ?>">Datenschutz</a></li>
					<li class="last"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'contact'),'default',true) ?>">Kontakt</a></li>
			
			</ul>
			
	</div>
	
	
	
	
</div>

<div class="hSpacer">

<div class="col320">

	
</div>

<div class="hSpacer">

<p>&nbsp;</p>
