<?php echo $this->partial('partials/_searchBox.phtml'); ?>

<div class="content-column">
	<h2>By-bye Winterspeck</h2>
	<h3>CHF 149.- statt CHF 380.- für ein 10er-Abo Power Plate Training!</h3>
	<div class="h2-subline">Fitness Club: <a href="#">Weitere Publikationen</a></div>
	
	<p><img src="images/fitness.jpg" /></p>
	
	<h2>Mitmachen</h2>
	
	<a href="<?php echo $this->url(array('controller'=>'page','action'=>'groupdeal'),'default',true) ?>"><img src="images/jetztkaufen.gif" /></a>
	
	<h2>Highlights</h2>
	<p>
    * 10er-Abo Power Plate-Training à je 30 Min. bei Power Forming<br />
    * Effektives Training mit wenig Zeitaufwand<br />
    * Verabschiede dich von überflüssigen Pfunden und bringe dich schnell und einfach in Form!<br />
    * Trainieren wie die Stars – Madonna schwört auf die Wirkung der Power Plate<br />
    * 10 bis 20 verschiedene Trainingspositionen<br />
    * Power Plate kann in verschiedenen Bereichen eingesetzt werden: Kräftigung, Beweglichkeit, Massage und Entspannung<br />
	</p>
	
	<h2>Kleingedrucktes</h2>
	<p>
    * Nur 1 Gutschein pro Benutzer einlösbar, die weiteren Gutscheine sind auf andere Personen übertragbar<br />
    * Reservation unter 079 777 77 77<br />
    * Mo-Sa einlösbar<br />
    * Gutschein 12 Monate gültig<br />
	</p>
	
	
	
	
	
	
	<!-- User voting / sharing -->
	<h2>Dieses Gruppenangebot bearbeiten</h2>
	<p>Sie können das Gruppenangebot bewerten, konfigurieren, weiterempfehlen, drucken, als ungeeignet markieren oder speichern. 
	Sie können das Gruppenangebot auf Facebook teilen oder kommentieren.</p>
	<div class="user-votings-sharing">
		<img src="images/dummy_controls.gif">
		<img src="images/dummy_commentbox.gif">		
	</div>
	
		
</div>

<div class="box-column">
	<?php echo $this->partial('partials/_boxColumnFitness.phtml'); ?>
</div>