
<h1>Hohe Anspr&uuml;che</h1>

<p></p>

<div class="col640">

	<p style="font-weight:bolder;">[Platzhalter] Infos zu G&uuml;tesiegel Good Priv@cy, SDV, Swiss Mail, Quickmail...</p>

</div>

<div class="hSpacer">

<div class="col320">
	<h3>Good Priv@cy</h3>
	
	<p>In wenigen Augenblicken und mit wenigen Klicks k&ouml;nnen Sie Stop &amp; Go v&ouml;llig kostenlos beitreten. 
	Wir verwenden ein Double-Opt-in-Verfahren: Nach der Erstregistrierung erhalten Sie per E-Mail einen 
	Aktivierunglink. um Ihr Konto zu aktivieren. Wir tun das, um sicher zu gehen, dass die angegebene Mailadresse korrekt ist.</p>
</div>

<div class="col320">
	<h3>Swiss Mail</h3>
	
	<p>In wenigen Augenblicken und mit wenigen Klicks k&ouml;nnen Sie Stop &amp; Go v&ouml;llig kostenlos beitreten. 
	Wir verwenden ein Double-Opt-in-Verfahren: Nach der Erstregistrierung erhalten Sie per E-Mail einen 
	Aktivierunglink. um Ihr Konto zu aktivieren. Wir tun das, um sicher zu gehen, dass die angegebene Mailadresse korrekt ist.</p>
</div>

<div class="col320">
	<h3>AWZ</h3>
	
	<p>In wenigen Augenblicken und mit wenigen Klicks k&ouml;nnen Sie Stop &amp; Go v&ouml;llig kostenlos beitreten. 
	Wir verwenden ein Double-Opt-in-Verfahren: Nach der Erstregistrierung erhalten Sie per E-Mail einen 
	Aktivierunglink. um Ihr Konto zu aktivieren. Wir tun das, um sicher zu gehen, dass die angegebene Mailadresse korrekt ist.</p>
</div>


<div class="hSpacer">

<p>&nbsp;</p>