<?php echo $this->partial('partials/_searchBox.phtml'); ?>

<div class="content-column">
	<h2>By-bye Winterspeck</h2>
	<h3>CHF 149.- statt CHF 380.- für ein 10er-Abo Power Plate Training!</h3>
	<div class="h2-subline">Fitness Club: <a href="#">Weitere Publikationen</a></div>
	
	<p><img src="images/groupdeal1.jpg" /></p>
	
	<p><img src="images/groupdeal2.jpg" /></p>
	
	
	
		
</div>

<div class="box-column">
	<?php echo $this->partial('partials/_boxColumnFitness.phtml'); ?>
</div>