
<h1>Konsumenten-Leitfaden</h1>

<div class="col960">
	<h2>Alles &uuml;ber Direkt Marketing... und wie Sie unerw&uuml;nschte Werbung vermeiden, 
	aber erw&uuml;nschte Angebote nicht verpassen. Informationen und Leitfäden, damit Sie sich im 
	Dschungel des Direkt Marketings besser orientieren können.</h2>
</div>	

<div class="hSpacer">

<div class="col320">
	<h3>Direkt Marketing Wissen</h3>
	
	<p>Nicht jeder muss eine Experte sein. Trotzdem ist es gut zu wissen, wie Direkt Marketing funktioniert. 
	Unsere Experten haben Ihnen verschiedene UNterlagen bereitgestellt, damit Sie die Grundlagen des 
	Direkt Marketings in der Schweiz besser verstehen.</p>
	<p>
		- <a href="">Wie funktioniert Direkt Marketing?</a><br />
		- <a href="">Wer sind die Marktteilnehmer?</a>
	</p>
	
	<h3>Unadressierte Werbung</h3>
	
	<p>Unadressierte Werbung erhalten Sie eigentlich nur, wenn Sie keinen Stopp-Kleber am Briefkasten angebracht haben. 
	Es gibt noch einige Ausnahmen (z. Bsp. politische Werbung). Nur mit Stop &amp; Go können Sie selektiv auswählen, 
	welche unadressierte Werbung Sie allenfalls noch interessiert.</p>
	<p>
		- <a href="">Wie kann ich unadressierte Streuwerbung vermeiden?</a><br />
		- <a href="">Trotzdem unadressierte Werbung im Briefkasten?</a><br />
		- <a href="">Ich will einen Stopp-Kleber!</a>
	</p>

	<h3>Adressierte Werbung</h3>
	
	<p>Ist es manchmal ein Rätsel, wie Sie auf eine Liste gekommen sind? Wir zeigen Ihnen, wie Sie das zurückverfolgen  
	und wie Sie sich aus den Listen der Adresshändler oder Anbieter austragen können.</p>
	<p>
		- <a href="">Wie bin ich auf die Liste gekommen?</a><br />
		- <a href="">Wie trage ich mich aus Listen aus?</a>
	</p>
</div>

<div class="col320">
	<h3>Direct Sales</h3>
	
	<p>Kommt zwar nicht mehr so oft, aber immer noch hin und wieder vor. 
	So stoppen Sie den Verkäufer an der Haustür, bevor er klingelt.</p>
	<p>
		- <a href="">Wie kann ich die Vertreter abwehren?</a>
	</p>
	
	<h3>Telefonmarketing</h3>
	
	<p>Sie haben einen Stern-Eintrag? Und erhalten trotzdem Anrufe von Telekommunikationsfirmen oder Versicherungen? 
	Hier lernen Sie, wie Sie darauf reagieren sollten und wie Sie dies unterbinden können.</p>
	<p>
		- <a href="">Wie kann ich mich dagegen sch&uuml;tzen?</a>
	</p>
	
	<h3>E-Mail-Marketing</h3>
	
	<p>Wussten Sie, dass Sie mit Stop & Go Newsletters abonnieren können, ohne dem Anbieter Ihre Identität offenzulegen? 
	Wir haben zudem die besten Tipps zusammen getragen, wie Sie sich gegen Spam schützen können. </p>
	<p>
		- <a href="">Was Sie wissen m&uuml;ssen.</a>
	</p>
</div>

<div class="col320">

	<div class="info-box purple">
		<h3>Verwandte Themen und Infos</h3>
	
			<ul>
					<li class="first"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'manifesto'),'default',true) ?>">Konsumentenschutz-Manifesto</a></li>
					<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'info'),'default',true) ?>">Konzept & Idee</a></li>
					<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'about'),'default',true) ?>">Über Stop &amp; Go</a></li>
					<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'waytogo'),'default',true) ?>">So geht's</a></li>
					<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'faq'),'default',true) ?>">FAQ</a></li>
					<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'privacy'),'default',true) ?>">Datenschutz</a></li>
					<li class="last"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'contact'),'default',true) ?>">Kontakt</a></li>
			</ul>
	</div>
	

</div>

<div class="hSpacer">



<p>&nbsp;</p>