<h1>Konzept &amp; Idee</h1>

<div class="col960">
	<h2>Stop &amp; Go baut auf einen Paradigmenwechsel: Der gl&auml;serne Konsument geh&ouml;rt der Vergangenheit an. 
	Die Konsumenten bestimmen jetzt selber, wer ihnen wann und wie welche Werbung zusenden darf.</h2>
</div>

<div class="hSpacer">

<!-- start left column -->

<div class="col320">
	
	<h3>Konsumentenschutz-Initiative</h3>
	
	<p><img src="images/ok2.gif" align="left" />Stop &amp; Go ist eine innovative Initiative, die entwickelt wurde, um den Konsumenten in der Schweiz die 
	Kontrolle &uuml;ber den Werbeempfang zur&uuml;ckzugeben. Sie beruht auf der &Uuml;berzeugung, dass die Konsumenten selber entscheiden sollen, welche Werbung sie wann 
	und auf welchem Weg erhalten. </p>
	
	<p>&nbsp;</p>
	<h3>Unerwünschte Werbung ist out</h3>
	
	<p><img src="images/ok2.gif" align="left" />Unerwünschte und unpassende Werbung ist ärgerlich. Sie bringt weder den Konsumenten, noch den Anbietern etwas. 
	Höchstens unnötige Altpapierberge, eine mit Spam überfüllte Mailbox und den Anbietern teuren Streuverlust. Hier kommt Stop &amp; Go zum Tragen: 
	Die Konsumenten bestimmen mit Stop &amp; Go selber, wer ihre Adressen für was verwenden darf. </p>
		
</div>

<!-- end left column -->

<!-- start center column -->

<div class="col320">
	
	<h3>Die Antithese zu Facebook</h3>
	
	<p><img src="images/ok2.gif" align="left" />Man könnte auch sagen: Stop &amp; Go ist das Gegenteil von Facebook. Bei Stop &amp; Go üben die Konsumenten die 
	totale Kontrolle über ihre eigenen Daten aus. Prinzipiell sind alle Konsumentendaten gesperrt, nur was explizit freigegeben 
	wird, ist für Anbieter anonym ersichtlich.</p>
	
	<p>&nbsp;</p>
	<h3>Ihre Daten gehören Ihnen</h3>
	
	<p><img src="images/ok2.gif" align="left" />Stop &amp; Go bearbeitet Ihre persönlichen Daten und Profilmerkmale nicht. Ihre Daten gehören ausschliesslich Ihnen. 
	Stop &amp; Go agiert nur als intelligenter Filter zwischen Konsumenten und Anbietern. Eine Win-Win-Situation.</p>
		
</div>

<!-- end center column -->

<!-- start right column -->

<div class="col320">
	
	<div class="info-box brown">
		<h3>Jetzt anmelden und selber bestimmen!</h3>
	
			<ul>
					<li class="first"><a href="<?php echo $this->url(array('controller'=>'register','action'=>'index'),'default',true) ?>">Jetzt registrieren</a></li>
			</ul>
	</div>
	
	<div class="info-box purple">
		<h3>Verwandte Themen und Infos</h3>
	
			<ul>
					
					<li class="first"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'waytogo'),'default',true) ?>">So geht's</a></li>
					<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'about'),'default',true) ?>">Über Stop &amp; Go</a></li>
					<li class="last"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'manifesto'),'default',true) ?>">Konsumentenschutz-Manifesto</a></li>
					<!-- 
					<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'faq'),'default',true) ?>">FAQ</a></li>
					<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'privacy'),'default',true) ?>">Datenschutz</a></li>
					<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'contact'),'default',true) ?>">Kontakt</a></li>
					 -->
			</ul>
	</div>
	
	
	
</div>

<!-- end right column -->

<div class="hSpacer">

<div class="col320">

	
	<h3>An der eigenen Adresse mitverdienen</h3>
	
	<p><img src="images/ok2.gif" align="left" />Zudem können die angemeldeten Konsumenten an ihren Adressen mitverdienen, anstelle der Adressenvermittler. 
	Auf Stop &amp; Go k&ouml;nnen Sie Ihre eigenen Adressen selber verwalten und zwar sowohl ihre physischen wie 
	auch Ihre digitalen E-Mail-Adressen. Dabei bleiben Sie immer anonym und der Datenschutz ist garantiert.</p>
	
	<p>&nbsp;</p>
	<h3>Profitieren Sie von exklusiven Angeboten</h3>

	<p><img src="images/ok2.gif" align="left" />Schliessen Sie sich mit anderen Konsumenten zu Gruppen-Einkäufen zusammen und erzielen Sie viel bessere Preise, 
	als wenn Sie einzeln einkaufen. Darüberhinaus finden Sie auf Stop &amp; Go Angebote, die Sie nirgends sonst finden. 
	In unserer 50-Prozent-Meile finden Sie immer unschlagbare Preishits, die es nur bei Stop &amp; Go gibt.</p>
	
	<p>&nbsp;</p>
	<h3>Schützen Sie sich und die Umwelt</h3>

	<p><img src="images/ok2.gif" align="left" />Nicht zuletzt unterstützt Sie Stop &amp; Go mit verschiedenen Tools und Angeboten, sich vor der lästigen, 
	unerwünschten Werbung zu schützen. Wir zeigen Ihnen, was Sie unternehmen können, um sich aus den Adresslisten der 
	professionellen Adressanbieter auszutragen, die zunehmend aggressiven Telefonangebote zu unterbinden 
	und Ihren Altpapierstapel zu reduzieren.</p>
	
	<p><img src="images/ok2.gif" align="left" />Eines der Ziele von Stop &amp; Go ist auch, die Menge von gedruckten Werbemitteln zu reduzieren und die 
	Umwelt dadurch zu entlasten. Sie können die schweizweit vorhandene unadressierte Werbung digital durchstöbern 
	und empfangen, genau in dem Masse und zu den Themen, die Sie bestimmen.</p>
	
	<p>&nbsp;</p>
	<h3>Das Konsumentenschutz-Manifesto</h3>
	
	<p><img src="images/ok2.gif" align="left" />Unser Konsumentenschutz-Manifesto zeigt auf, wie wir den Paradigmenwechsel verstehen 
	und wie wir mit Stop &amp; Go die Beziehung zwischen Konsumenten und Anbietern auf eine total neue Basis stellen. </p>
	
	<p><a href="<?php echo $this->url(array('controller'=>'page','action'=>'manifesto'),'default',true) ?>">&raquo; Das Stop &amp; 
	Go-Manifesto</a>.</p>

</div>

<div class="col320">

	<h3>Sie bestimmen und kontrollieren</h3>

	<p><img src="images/ok2.gif" align="left" />Mit Stop &amp; Go k&ouml;nnen Sie unerw&uuml;nschte Werbung vermeiden, aber gleichzeitig erw&uuml;nschte Werbung f&uuml;r 
	Produkte und Dienstleistungen, die Sie wirklich interessieren, explizit anfordern. Bestellen Sie den Stop &amp; Go-Kleber für Ihren Briefkasten jetzt und signalisieren Sie den Anbietern, 
	dass Sie nun selber bestimmen, wer Ihren Briefkasten und Ihre Mailbox benützen darf, wer willkommen ist und wer nicht.</p>
	
	<p>&nbsp;</p>
	<h3>Auch Newsletters verwalten</h3>
	
	<p><img src="images/ok2.gif" align="left" />Sie können sogar Newsletters nun zentral verwalten, Ihre persönliche oder geschäftliche E-Mailbox werbefrei halten 
	und trotzdem informiert bleiben, wenn interessante Angebote im Markt auftauchen.</p>
	
	<p>&nbsp;</p>
	<h3>Beispiele für den Empfang</h3>
	
	<p><img src="images/ok2.gif" align="left" />Stellen Sie sich vor, Sie sind ein leidenschaftlicher Segler. Sie sind interessiert, Angebote für 
	Segelferien und Segelausrüstungen zu erhalten. Auf Stop &amp; Go können Sie diese persönliche Interessenslage 
	definieren und bestimmen, auf welchem Weg Sie allfällige Segel-Angebote erhalten wollen &mdash; physisch und adressiert 
	in den Briefkasten oder digital per E-Mail. Sobald ein Anbieter ein passendes Angebot auf Stop &amp; Go platziert, 
	werden Sie darüber informiert oder die entsprechenden Kataloge werden Ihnen zugeschickt. 
	Dabei bleiben Sie gegenüber dem Anbieter absolut anonym, weil die Verteilung über Stop &amp; Go stattfindet.</p>
	
	<p><img src="images/ok2.gif" align="left" />Sie können auch bestimmen, dass Sie nur einmal pro Woche von Stop &amp; Go ein Sammel-E-Mail erhalten, 
	falls für Sie interessante Angebote im System hinterlegt sind. Und ja, Sie können ganz gezielte Suchaufträge 
	definieren, wenn Sie etwas Bestimmtes suchen. Mit Stop &amp; Go können Sie den aktuellen Markt perfekt beobachten.</p>

</div>

<div class="col320">

	
	

</div>

<div class="hSpacer">


<p>&nbsp;</p>