<?php echo $this->partial('partials/_searchBox.phtml'); ?>

<div class="content-column">
	<h2>Schlafzimmerprogramm &laquo;LILLE&raquo;</h2>
	<h3>Produktekatalog, A4, hochglanz, 16 Seiten, Print</h3>
	<p>Das moderne Schlafzimmer-Programm Lille besticht durch seine attraktiven Farbspiele. 
	Es lässt jedes Schlafzimmer gemütlich und dennoch aktuell wirken. </p>
	<div class="h2-subline">Von Beliani <a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Weitere Publikationen</a></div>
	
	<p><img src="images/lille.jpg" /></p>
	
	<!-- User voting / sharing -->
	<h2>Dieses Werbemittel bearbeiten</h2>
	<p>Sie können das Werbemittel bewerten, konfigurieren, weiterempfehlen, drucken, als ungeeignet markieren oder speichern. <br />
	Sie können darin suchen oder das Werbemittel auf Facebook teilen. <br />
	Sie können das Werbemittel auch kommentieren.</p>
	<div class="user-votings-sharing">
		<img src="images/dummy_controls.gif">
		<img src="images/dummy_commentbox.gif">		
	</div>
</div>

<div class="box-column">
	<?php echo $this->partial('partials/_boxColumnLille.phtml'); ?>
</div>