
<h1>Konsumentenschutz-Manifesto</h1>

<div class="col960">
	<h2>Wir deklarieren das Ende des gläsernen Konsumenten. Wir plädieren für die Ermächtigung der Konsumenten, 
	selber über ihre Adresse zu bestimmen. Unser Bekenntnis zur Konsumentenwahl, zum Daten- und Umweltschutz.</h2>
</div>

<div class="hSpacer">

<div class="col640">
	<img src="images/manifesto.jpg" />
</div>

<div class="col320">

	<!-- <div class="info-box purple">
		<h3>Verwandte Themen und Infos</h3>
	
			<ul>
					<li class="first"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'guidelines'),'default',true) ?>">Konsumenten-Leitfaden</a></li>
					<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'info'),'default',true) ?>">Konzept &amp; Idee</a></li>
					<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'about'),'default',true) ?>">Über Stop &amp; Go</a></li>
					<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'waytogo'),'default',true) ?>">So geht's</a></li>
					<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'faq'),'default',true) ?>">FAQ</a></li>
					<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'privacy'),'default',true) ?>">Datenschutz</a></li>
					<li class="last"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'contact'),'default',true) ?>">Kontakt</a></li>
			</ul>
	</div>  -->
	

</div>

<div class="hSpacer">

<div class="col640">
	<h3>Meine Daten gehören mir</h3>

	<p>Die persönliche Adresse &mdash; physisch oder digital &mdash; gehört den Konsumenten, die dadurch 
	erreicht werden können. Die Konsumenten sollen selber entscheiden können, was darin an Werbeangeboten landet.</p>
	
	<p>&nbsp;</p>
	
	<h3>Unerwünschte Werbung ist doof</h3>

	<p>Unerwünschte oder unpassende Werbeangebote einem Konsumenten zuzuschicken, ist nicht sehr intelligent. 
	Es belastet die Konsumenten mit der Entsorgungsaufgabe und belastet die Umwelt unnötig.</p>
	
	<p>&nbsp;</p>
	
	<h3>Auskunftsverfahren vereinfachen</h3>

	<p>Das Datenschutzgesetz der Schweiz verpflichtet die Halter der Datensammlungen zur Auskunft, Korrektur 
	und Löschung auf Verlangen durch die Konsumenten. Das Verfahren ist aufwändig und teuer und ist zu vereinfachen 
	und kostenlos durchzuführen. Die Konsumenten sollen schnell und unkompliziert Auskunft erhalten, die Korrektur 
	oder die Löschung der Daten verlangen können mit Hilfe des Internets.</p>
	
	<p>&nbsp;</p>
	
	<h3>Datenbearbeitung ist ein Eingriff in die Persönlichkeitsrechte</h3>

	<p>Die Anreicherung von Konsumentendaten durch professionelle Adressanbieter ist ein Eingriff in die 
	Persönlichkeit, die dem Konsumenten weitgehend verborgen bleibt. Heute ist es unmöglich für die Konsumenten, 
	zu wissen, welche Daten über sie wo angelegt sind. Das trägt zu Misstrauen bei. Wir wollen das Vertrauen 
	zwischen Konsumenten und Anbietern stärken und auf eine glaubwürdige Basis stellen.</p>
	
	<p>&nbsp;</p>
	
	<h3>Adresshandel ist zweifelhaft und veraltet</h3>

	<p>Der Verkauf von angereicherten Konsumentendaten an Dritte zu Werbezwecken ist ein zweifelhaftes 
	Geschäft und mit vielen Ungenauigkeiten und Unwahrheiten behaftet. Dieses Geschäftsmodell gehört der 
	Vergangenheit an und entspricht nicht den Ansprüchen einer mündigen Gesellschaft.</p>
	
	<p>&nbsp;</p>
	
	<h3>Konventionelle Adressbearbeitung verzerrt den Markt</h3>

	<p>Die Interessen der Konsumenten sind einem ständigen Wandel unterworfen. Diesen rasanten Wandel können 
	Adressbearbeiter gar nicht nachvollziehen mit der traditionellen Datenbearbeitung. Sie verzerren somit die 
	tatsächlichen Fakten der Märkte.</p>
	
	<p>&nbsp;</p>
	
	<h3>Die Konsumenten wissen es besser</h3>

	<p>Die einzigen, die wissen, was sie wirklich wollen und was nicht und welche Bedürfnisse sie haben, 
	sind die Konsumenten selber. Sie sollen deshalb selber in der Lage sein, ihre Bedürfnisse zu formulieren.</p>
	
	<p>&nbsp;</p>
	
	<h3>Die Konsumenten entschädigen</h3>

	<p>Ähnlich der vorgezogenen Entsorgungsgebühr für elektronische Geräte sollen die Anbieter den 
	Empfängern ihrer Werbemittel eine Entschädigung für die Entsorgung der Unterlagen ausrichten.</p>
	
	<p>&nbsp;</p>

	<h3>Die Umwelt schützen</h3>

	<p>Die Menge der Direkt Werbung in der Schweiz &mdash; adressiert und unadressiert &mdash; ist aus 
	volkswirtschaftlichen und Umweltschutzgründen stark zu reduzieren.</p>
	
	<p>&nbsp;</p>

	<h3>Lasst die Konsumenten bewerten</h3>

	<p>Werbung ist manchmal beleidigend, primitiv und unvernünftig. Den Konsumenten fehlen aber die Instrumente, 
	um dumme Werbung zu sanktionieren. Stop &amp; Go will den Konsumenten diese Möglichkeiten anbieten. 
	Alle sollen wissen, was als blöde Werbung erachtet wird.</p>
	
	<p>&nbsp;</p>

	<h3>Spam ist kriminell</h3>

	<p>Spam im E-Mail-Kanal ist kriminell. Unverlangte Werbe- und Spam-Mails sind zu verurteilen und zu 
	sanktionieren. Bedingt durch den globalen Charakter von Spam-Mails ist es für den Einzelnen fast unmöglich, 
	sich dagegen zu wehren. Stop &amp; Go will nicht nur Hilfe anbieten sondern durch gemeinsame Aktionen der 
	Konsumenten kriminellen Spammern das Handwerk legen.</p>
	
	<p>&nbsp;</p>
	
</div>


	


<div class="hSpacer">



<p>&nbsp;</p>

