<div class="content-box">
	<div class="third-column">
		<div style="padding: 5px;">
			<img src="http://www.sonnenstudio-zellamsee.at/assets/images/at_zeichen.jpg" height="200" />
    </div>
	</div>
	<div class="two-third-column">
		<div class="list-row">
		 <h2>Gratulation Du nimmst an dem Deal teil...</h2>
		 <p>Wie wir es versprochen haben bekommst Du den Deal zu dem vereinbarten Preis...Tom wird hier noch was schreiben.</p>
		</div>
	</div>
</div>