
<h1>Datenschutzerklärung von Stop &amp; Go</h1>

<div class="col960">
	<h2>Bei Stop &amp; Go steht der Schutz Ihrer persönlichen Daten an erster Stelle. Stop &amp; Go behandelt Kundendaten 
	vertraulich und hält die Bestimmungen der Schweizerischen Datenschutzgesetzgebung ein.</h2>

	

</div>

<div class="hSpacer">

<div class="col640">
	<h3>Voraussetzungen</h3>
		
	<p>Damit Stop &amp; Go ihre Internet-Dienstleistungen kundenorientiert und sachgemäss zur Verfügung stellen kann, 
	ist sie darauf angewiesen, Kundendaten zu erheben und nutzen zu dürfen. </p>

	<p>
	Gesetzliche Grundlagen:<br /><br />
	- <a href="http://www.admin.ch/ch/d/sr/c235_1.html" target="_blank">Bundesgesetz vom 19. Juni 1992 über den Datenschutz (DSG)</a><br/>
	- <a href="http://www.admin.ch/ch/d/sr/c235_11.html" target="_blank">Verordnung vom 14. Juni 1993 zum Bundesgesetz über den Datenschutz (VDSG)</a>
	</p>

	<p>Die folgenden Ausführungen geben Auskunft, wie Ihre persönlichen Informationen behandelt werden.</p>

	<h3>1. Welche Personendaten werden gesammelt?</h3>
	
	<p>Stop &amp; Go sammelt Informationen auf verschiedene Arten. Einige persönliche Informationen werden 
	gesammelt, wenn Sie sich registrieren. Bei der Registrierung werden Sie von Stop &amp; Go nach Ihrem Namen, 
	E-Mail-Adresse und anderen persönlichen Informationen gefragt.</p>
	
	<p>Zusätzlich zur Registrierung fragen wir bei anderen Gelegenheiten nach persönlichen Informationen, z.B. 
	wenn Sie an Gewinnspielen teilnehmen, Zusatzangebote nutzen oder wenn Sie uns ein Problem mit unserem Dienst mitteilen.</p>
	
	<p>Wenn Sie Stop &amp; Go kontaktieren, bewahren wir einen Datensatz dieser Korrespondenz auf. Stop &amp; Go 
	bittet Nutzer von Zeit zu Zeit, an Umfragen teilzunehmen, die für Statistiken verwendet werden. Immer wenn 
	Stop &amp; Go persönliche Informationen sammelt, wird ein Link auf diese Datenschutzschutzerklärung gesetzt.</p>
	
	<p>Stop &amp; Go nimmt Untersuchungen hinsichtlich der Interessen und dem Verhalten der Nutzer basierend auf 
	den Informationen vor, die uns durch die Registrierung und aus unseren Server-Protokolldateien (sogenannte Log-Files) 
	zur Verfügung stehen. Wir tun dies, um unseren Nutzern entsprechend verbesserte Dienste bieten zu können. 
	Diese Untersuchungen werden auf ganzheitlicher Basis zusammengestellt und analysiert.</p>
	
	<p>Beachten Sie bitte, dass Inserenten oder Website-Betreiber mit Links auf unser Angebot persönliche 
	Informationen von Ihnen sammeln können. Informationspraktiken Dritter, die über einen Link zu Stop &amp; Go 
	verfügen oder die über eine Verlinkung auf unserem Internetportal zugänglich sind, sind nicht Bestandteil 
	dieser Datenschutzerklärung.</p>
	
	
	<h3>2. Zu welchen Zwecken werden Personendaten gesammelt?</h3>
	
	<p>Stop &amp; Go erhebt und nutzt Kundendaten, um die Services kundenorientiert und sachgemäss zur Verfügung 
	stellen zu können. Stop &amp; Go sammelt Personendaten insb. zu Identifikations -, Abrechnungs- und Marketingzwecken.</p>
	
	<p>Mit der Registrierung zur Nutzung der Dienstleistungen stimmt der Kunde dem Gebrauch seiner persönlichen 
	Angaben zu Marketingzwecken durch Stop &amp; Go zu. Die Daten können insb. für Ankündigungen von Events, 
	Wettbewerben und Umfragen sowie Informationen über Dienstleistungen und Produkte von Stop &amp; Go und 
	ihrer Partner verwendet werden. Dies betrifft insbesondere die E-Mail-Adresse, über die der Kunde von Zeit 
	zu Zeit von Stop &amp; Go kontaktiert wird. Stop &amp; Go wird mit der Kontaktierung sehr massvoll umgehen. 
	Wenn der Kunde damit nicht einverstanden ist, kann er diesem Vorgehen per E-Mail an datenschutz@stop-and-go.ch 
	widersprechen.</p>
	
	<p>Durch die uns bekannt gegebenen Personendaten (z.B. Geschlecht, Jahrgang) ist es uns möglich, auf Ihre 
	Interessen abgestimmte Inhalte und Werbung zu liefern. Damit bezwecken wir einen besseren, kundenorientierteren 
	Dienst und erhoffen uns Zufriedenheit und eine langfristige Bindung der Kundschaft.</p>
	
	<p>Inserenten übermitteln Stop &amp; Go ihre Werbung und wählen den Publikumstyp aus, den Sie erreichen 
	möchten (z.B. Männer über 35). Stop &amp; Go zeigt die Werbung Nutzern, die diesem Kriterium entsprechen. 
	Der Inserent hat dabei keinen Zugriff auf Account-Informationen einzelner Personen.</p>
	
	
	<h3>3. Welche Daten werden an Dritte weitergegeben und für welche Zwecke?</h3>
	
	<p>Stop &amp; Go gibt ohne die ausdrückliche Genehmigung der betroffenen Person keine persönlichen 
	Informationen der Nutzer/Kunden weiter.</p>
	
	<p>Stop &amp; Go behält sich jedoch das Recht vor, Informationen und Personendaten zu bearbeiten und an 
	die zuständigen Zivil- und Strafverfolgungsbehörden weiterzugeben, um anwendbaren Gesetzen, Verordnungen, 
	Gerichtsverfahren oder Strafuntersuchungen Genüge zu tun.</p>
	
	
	<h3>4. Welche Wahlmöglichkeiten zur Bearbeitung seiner Daten stehen dem Benutzer zu?</h3>
	
	<p>Jeder Nutzer kann seine Daten selbständig bearbeiten. Stop &amp; Go bearbeitet grundsätzlich keine Kundendaten. 
	Nur wenn offensichtlicher Missbrauch zu vermuten ist, prüft Stop &amp; Go die Kundenangaben anonym. Falls die 
	Datenprüfung die Vermutung erhärten, behält sich Stop &amp; Go das ausdrückliche Recht vor, Kunden-Accounts 
	zu sperren und den direkten Kontakt zu suchen.</p>
	
	<p>Stop &amp; Go zeigt dem Kunden neue Angebote per E-Mail an. Wenn der Kunde damit nicht einverstanden ist, 
	kann er diesem Vorgehen per E-Mail an datenschutz@stop-and-go.ch widersprechen.</p>
	
	<h3>5. Welche Korrektur-, Aktualisierungs- und Löschmöglichkeiten stehen dem Benutzer zur Verfügung?</h3>
	
	<p>Jeder Nutzer kann seine Account-Informationen jederzeit unter Verwendung seines Logins und Passworts bearbeiten. 
	Für alle anderen Probleme bei der Anmeldung und für die Löschung Ihres Accounts wenden Sie sich 
	an datenschutz@stop-and-go.ch.</p>
	
	
	<h3>6. Welche Rechte hat der Benutzer?</h3>
	
	<p>Jeder Kunde hat das Recht, seinen Account gemäss Ziffer 5 dieser Erklärung zu bearbeiten und wenn 
	nötig zu berichtigen.</p>
	
	<p>Von Gesetzes wegen stehen jedem Nutzer folgende Rechte zur Verfügung:</p>
	
	<p>
	- Recht auf Auskunft<br />
	- Recht auf Sperrung der Weitergabe<br />
	- Berichtigungsrecht<br />
	- Recht auf Löschung der persönlichen Informationen
	</p>
	
	<p>Der Nutzer hat sein Recht schriftlich bei</p>
	
	<p>
	Stop &amp; Go<br />
	Stop-and-Go-Strasse 22<br />
	3001 Bern
	</p>
	
	<p>geltend zu machen.</p> 
	
	<p>Zur eindeutigen Identifikation ist die Kopie der Identitätskarte oder des
	Passes beizulegen.</p>
	
	<p>Die Muster AG behält sich das Recht vor, für die Auskunftserteilung eine angemessene Beteiligung an 
	den entstanden Bearbeitungskosten in Rechnung zu stellen, wenn (1) der antragsstellenden Person in den 
	zwölf Monaten vor dem Gesuch die gewünschten Auskünfte bereits mitgeteilt wurden und kein schutzwürdiges 
	Interesse an einer neuen Auskunftserteilung nachgewiesen werden kann; wenn (2) die Auskunftserteilung mit 
	einem besonders grossen Arbeitsaufwand verbunden ist. Die Beteiligung beträgt maximal 300 Franken.</p>
	
	
	<h3>7. Welche Sicherheitsmassnahmen werden angewendet?</h3>
	
	<p>Stop &amp; Go sieht Sicherheitsmassnahmen vor, um Verlust, Missbrauch oder Änderung von Informationen und 
	Personendaten zu verhindern.</p>
	
	<p>Ihre Account-Informationen sind passwortgeschützt, so dass nur Sie Zugriff auf diese persönlichen Informationen 
	haben. Geben Sie Ihr Passwort niemandem preis. Melden Sie sich nach Beendigung Ihrer Arbeit vollständig 
	aus Ihrem Account ab.</p> 
	
	<p>Stellen Sie sicher, dass andere nicht auf Ihre persönlichen Informationen zugreifen können. 
	Übertragungen im Internet sind nicht sicher. (vgl. Frage 8) Sobald wir Übertragungen erhalten haben, 
	sichern wir die Informationen in angemessener Weise in unseren Systemen.</p>
	
	<p>Regeln zum Passwortschutz: Es sind geeignete Passwörter zu bestimmen (keine
	naheliegenden oder gebräuchlichen Wörter oder Zahlen). Idealerweise werden Buchstaben und Zahlenkombinationen 
	gemischt verwendet. Zudem wird empfohlen, das Passwort in regelmässigen Abständen zu ändern.</p>
	
	
	<h3>8. Sind E-Mail-Übermittlungen sicher?</h3>
	
	<p>Wenn Sie mit uns über E-Mail (oder Formular) kommunizieren, erfolgt die
	Datenübermittlung nicht verschlüsselt. Dasselbe gilt, wenn wir Ihnen unsere Antwort per E-Mail zukommen 
	lassen. In diesen Fällen ist Vertraulichkeit nicht gewährleistet. E-Mails - grundsätzlich schnell, zuverlässig 
	und günstig - werden über viele Rechner weitergeleitet. Die Möglichkeiten, Mitteilungen zu speichern, 
	zu analysieren oder zu verändern sind daher vielfältig. E-Mail in unverschlüsselter Form sind nicht 
	geeignet, Stop &amp; Go vertrauliche
	Informationen zugehen zu lassen.</p>
	
	
	<h3>9. Kontakt</h3>
	
	<p>Bei Fragen zu unserer Datenbearbeitungspolitik wenden Sie sich bitte an unseren Datenschutzbeauftragten, 
	Herrn Stop &amp; Go (sg@stop-and-go.ch).</p>

</div>

<div class="col320">

	<div class="info-box purple">
	<h3>Good Priv@cy Zertifizierung</h3>
	
		<ul>
			<p>
			AWZ AG<br />
			Sulgenrain 24-26<br />
			CH-3000 Bern 23<br /><br />
				
			Zertifizierter Bereich:	Ganzes Unternehmen<br />
			Tätigkeitsgebiet:	Direct-Marketing<br />
			Norm:	GoodPriv@cy<br />
			Scope:	S.35<br />
			Reg. # :	30510<br /><br />
			</p>
			
			
		</ul>
	
	</div>
	
	<ul>
		<p align="center">
		Stop &amp; Go verpflichtet sich, Datenschutz und Datensicherheit dauernd zu hinterfragen und Massnahmen 
		zur Verbesserung zu prüfen.<br /><br />
		<img src="images/logo_sqs_goodprivacy.gif" width="100" />&nbsp;<img src="images/logo_sqs_iso9001-3.gif" width="100" />
		</p>
	</ul>
	
	<div class="info-box brown">
	<h3>Sie bestimmen die Freigaben</h3>
	
		<ul>
			<p>
			Als Stop &amp; Go Mitglied bestimmen Sie, wieviele und welche Daten für andere sichtbar sind. 
			Sie bleiben in jedem Fall anonym. Bei jedem Merkmal können Sie bestimmen, ob Sie Daten blockieren, teilweise freigeben 
			oder ganz freigeben. Sie sehen den Status immer an den Schlössern:<br /><br />
			</p>
			
			
			
			
		</ul>
	
	</div>
	
		<ul>
			<p align="center">
			 <img src="images/lock_closed_small_red.jpg" alt="Geschützt" title="Geschützt" />&nbsp;
			 <img src="images/lock_halfopen_small_orange.jpg" alt="Teilweise freigegeben" title="Teilweise freigegeben" />&nbsp;
			 <img src="images/lock_open_small_green.jpg" alt="Freigegeben" title="Freigegeben" />
			</p>
		</ul>
	
	<div class="info-box purple">
		<h3>Verwandte Themen und Infos</h3>
	
			<ul>
					<p>Sie möchten gerne mehr wissen?.</p>
					<p>Sehen Sie sich Konzept &amp; Idee an oder werfen Sie einen Blick auf andere, verwandte Themen</p>
					<li class="first"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'info'),'default',true) ?>">Konzept &amp; Idee</a></li>
					<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'about'),'default',true) ?>">Über Stop &amp; Go</a></li>
					<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'waytogo'),'default',true) ?>">So geht's</a></li>
					<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'guidelines'),'default',true) ?>">Konsumenten-Leitfaden</a></li>
					<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'manifesto'),'default',true) ?>">Konsumentenschutz-Manifesto</a></li>
					<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'faq'),'default',true) ?>">FAQ</a></li>
					<li class="last"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'contact'),'default',true) ?>">Kontakt</a></li>
			</ul>
	</div>
	
</div>

<div class="hSpacer">

<p>&nbsp;</p>

