<?php echo $this->partial('partials/_searchBox.phtml'); ?>

<div class="content-column">
	<h2>OTTO'S - KW14</h2>
	<div class="h2-subline">14. Februar 2011 <a href="#">Otto's weitere Publikationen</a></div>
	
	<!-- ISSUU.com embed code -->
	<object style="width:600px;height:383px" ><param name="movie" value="http://static.issuu.com/webembed/viewers/style1/v1/IssuuViewer.swf?mode=embed&amp;layout=http%3A%2F%2Fskin.issuu.com%2Fv%2Fcolor%2Flayout.xml&amp;backgroundColor=FFFFFF&amp;showFlipBtn=true&amp;documentId=100510080418-1ac9cac25cf94a6e88255f9c1b5b1ad4&amp;docName=wz05c10de_free_hand&amp;username=ottos&amp;loadingInfoText=OTTO's%20WZ%2005C%2F10%20(issuu%20free%2C%20hand)&amp;et=1296034192348&amp;er=46" /><param name="allowfullscreen" value="true"/><param name="menu" value="false"/><embed src="http://static.issuu.com/webembed/viewers/style1/v1/IssuuViewer.swf" type="application/x-shockwave-flash" allowfullscreen="true" menu="false" style="width:600px;height:383px" flashvars="mode=embed&amp;layout=http%3A%2F%2Fskin.issuu.com%2Fv%2Fcolor%2Flayout.xml&amp;backgroundColor=FFFFFF&amp;showFlipBtn=true&amp;documentId=100510080418-1ac9cac25cf94a6e88255f9c1b5b1ad4&amp;docName=wz05c10de_free_hand&amp;username=ottos&amp;loadingInfoText=OTTO's%20WZ%2005C%2F10%20(issuu%20free%2C%20hand)&amp;et=1296034192348&amp;er=46" /></object>
	
	<!-- User voting / sharing -->
	<h2>Dieses Werbemittel bearbeiten</h2>
	<p>Sie können das Werbemittel bewerten, konfigurieren, weiterempfehlen, drucken, als ungeeignet markieren oder speichern. <br />
	Sie können darin suchen oder das Werbemittel auf Facebook teilen. <br />
	Sie können das Werbemittel auch kommentieren.</p>
	<div class="user-votings-sharing">
		<img src="images/dummy_controls.gif">
		<img src="images/dummy_commentbox.gif">		
	</div>
</div>

<div class="box-column">
	<?php echo $this->partial('partials/_boxColumnPublidetail.phtml'); ?>
</div>