<?php echo $this->partial('partials/_searchBox.phtml'); ?>

<div class="content-column">
	<h2>PUBLIKATIONEN</h2>
	
	<div class="h2-subline">
	<p><strong>Titel Publikation 1: </strong>Hier kommt eine kurze Beschreibung hin. <a href="#">anschauen ...</a></p> 
	</div>
	
	<div class="h2-subline">
	<p><strong>Titel Publikation 2: </strong>Hier kommt eine kurze Beschreibung hin. <a href="#">anschauen ...</a></p> 
	</div>
	
	<div class="h2-subline">
	<p><strong>Titel Publikation 3: </strong>Hier kommt eine kurze Beschreibung hin. <a href="#">anschauen ...</a></p> 
	</div>
	
	<h2>NEWSLETTER</h2>
	
	<div class="h2-subline">
	<p><strong>Titel Publikation 1: </strong>Hier kommt eine kurze Beschreibung hin. <a href="#">anschauen ...</a></p> 
	</div>
	
	<div class="h2-subline">
	<p><strong>Titel Publikation 2: </strong>Hier kommt eine kurze Beschreibung hin. <a href="#">anschauen ...</a></p> 
	</div>
	
	<div class="h2-subline">
	<p><strong>Titel Publikation 3: </strong>Hier kommt eine kurze Beschreibung hin. <a href="#">anschauen ...</a></p> 
	</div>
	
	<h2>GRUPPENANGEBOTE</h2>
	
	<div class="h2-subline">
	<p><strong>Titel Publikation 1: </strong>Hier kommt eine kurze Beschreibung hin. <a href="#">anschauen ...</a></p> 
	</div>
	
	<div class="h2-subline">
	<p><strong>Titel Publikation 2: </strong>Hier kommt eine kurze Beschreibung hin. <a href="#">anschauen ...</a></p> 
	</div>
	
	<div class="h2-subline">
	<p><strong>Titel Publikation 3: </strong>Hier kommt eine kurze Beschreibung hin. <a href="#">anschauen ...</a></p> 
	</div>
	
	
</div>

<div class="box-column">
	<?php echo $this->partial('partials/_boxColumnSearchResults.phtml'); ?>
</div>