<h1>So geht's</h1>

<div class="col960">

	<h2>Sie entscheiden, welche Angebote Sie erhalten und welche nicht. Gewinnen Sie die Kontrolle über die 
	eigenen Adressen zurück. Legen Sie Ihre persönlichen Interessen fest und profitieren Sie von Spezialangeboten.</h2>
	
</div>



<div class="hSpacer">

<div class="col640">

	<h3>Anmelden und Konto aktivieren</h3>
	
	<p><img align="left" src="images/hand_1.gif" /><br />In wenigen Augenblicken und mit wenigen Klicks k&ouml;nnen Sie Stop &amp; Go v&ouml;llig kostenlos beitreten. 
	Wir verwenden ein Double-Opt-in-Verfahren: Nach der Erstregistrierung erhalten Sie per E-Mail einen 
	Aktivierunglink, um Ihr Konto zu aktivieren. </p>
	
	<br clear="all" />	
	<br />
	<h3>Adressen und Basisdaten erfassen</h3>
	
	<p><img align="left" src="images/hand_2.gif" /><br />Bei Stop &amp; Go sind Ihre Daten sicher und Sie bleiben anonym. Auch für Ihre physische Adresse 
	verwenden wir ein Double-Opt-in-Verfahren: Sie erhalten einen Freischalt-Code an 
	Ihre primäre Adresse. Damit stellen wir sicher, dass Sie an der angebenen Adresse auch wirklich erreichbar sind.</p>
	
	<br clear="all" />
	<br />
	<h3>Profil und Interessenslagen definieren</h3>
	
	<p><img align="left" src="images/hand_3.gif" /><br />Erstellen Sie Ihr pers&ouml;nliches &mdash; aber immer anonymes &mdash; Profil und verdienen Sie daran. 
	Sie können neben den Basisdaten Ihre Interessen definieren und so das Profil anreichern. Je genauer Sie Ihr Profil definieren, 
	umso wertvoller wird es und Sie können mehr an Ihrem Profil verdienen.</p>
	
	<br clear="all" />
	<br />
	<h3>Angebote und Anbieter auswählen</h3>
	
	<p><img align="left" src="images/hand_4.gif" /><br />Sie haben die Wahl, welche Angebote Sie in welcher Form, &uuml;ber welchen Kanal und zu welcher 
	Zeit m&ouml;chten. Sie können nach Themen oder Anbieter suchen und bestimmen, welche Angebote Sie interessieren.<br /><br /></p>
	
	<br clear="all" />
	<br />
	<h3>Vor unerw&uuml;nschter Werbung schützen</h3>
	
	<p><img align="left" src="images/hand_5.gif" /><br />Mit Stop &amp; Go k&ouml;nnen Sie sich effektiv vor unerw&uuml;nschter und unpassender Werbung sch&uuml;tzen. 
	Wir zeigen Ihnen, wie Sie sich aus den Listen der Adressanbieter austragen und wie Sie sich effektiv gegen 
	Junk Mail und Spam wehren können.</p>
	

</div>



<div class="col320">
	
	<div class="info-box brown">
		<h3>Jetzt anmelden und selber bestimmen!</h3>
	
			<ul>
					<li class="first"><a href="<?php echo $this->url(array('controller'=>'register','action'=>'index'),'default',true) ?>">Jetzt registrieren</a></li>
			</ul>
	</div>
	
	<div class="info-box purple">
		<h3>Verwandte Themen und Infos</h3>
	
			<ul>
					<li class="first"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'info'),'default',true) ?>">Konzept &amp; Idee</a></li>
					<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'about'),'default',true) ?>">Über Stop &amp; Go</a></li>
					<li class="last"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'manifesto'),'default',true) ?>">Konsumentenschutz-Manifesto</a></li>
					
					<!-- <li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'faq'),'default',true) ?>">FAQ</a></li>
					<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'guidelines'),'default',true) ?>">Konsumenten-Leitfaden</a></li>
					<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'privacy'),'default',true) ?>">Datenschutz</a></li>
					<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'contact'),'default',true) ?>">Kontakt</a></li> -->
			</ul>
	</div>
	
	
</div>
	


<div class="hSpacer">




<p>&nbsp;</p>
