<div class="content-box">
	<div class="third-column">
		<div style="padding: 5px;">
		<?php 
		echo '<h2>Jetzt registrieren!</h2>';
		echo $this->placeholder('registerForm');   
		$this->validateDojoForm('formRegister'); 
    ?>		
    </div>
	</div>
	<div class="two-third-column">
		<div class="list-row">
		 <img src="images/security_placeholder.jpg" width="625" />
		 </div>
		 
		 
		 <div class="regtext">
		 <p style="font-weight:bolder; font-size:1.2em;">Ihre Daten sind bei Stop &amp; Go sicher und geschützt</p>
		 <p>Wir rühren Ihre Daten nicht an, aber wir sorgen dafür, dass Ihre Daten sicher sind und immer anonym bleiben. 
		 Ihr Name und Ihre Adresse werden getrennt von Ihren Profilmerkmalen aufbewahrt. Sie entscheiden bei jedem Merkmal selber darüber, 
		 wieviele und welche Daten Sie den Anbietern freigeben. Anhand der Schlösser sehen Sie immer, welche Daten blockiert oder 
		 teilweise oder ganz freigegeben sind. <a href="<?php echo $this->url(array('controller'=>'page','action'=>'privacy'),'default',true) ?>">&raquo; Datenschutz bei Stop &amp; Go</a>
		 </p>
		 
		 <p>
		 <img src="images/lock_closed_small_red.jpg" alt="Geschützt" title="Geschützt" />&nbsp;
		 <img src="images/lock_halfopen_small_orange.jpg" alt="Teilweise freigegeben" title="Teilweise freigegeben" />&nbsp;
		 <img src="images/lock_open_small_green.jpg" alt="Freigegeben" title="Freigegeben" />
		 </p>
		 
		 
		 
		 </div>
	</div>
</div>