<?php echo $this->partial('partials/_teaserBoxRow.phtml'); ?>

<div class="search-box">
	<?php echo $this->searchForm; ?>
</div>

<div class="content-column">



	
	<h1>Ihr Briefkasten</h1>
	
	<h2>Erwünschte Werbemittel und Empfehlungen.</h2>
	
	<p>&nbsp;</p>
	<?php	  	
    $this->tabContainer()->captureStart('main-container',
                                    array('design' => 'headline', 'doLayout' => 'false'),
                                    array('style'=>'width:600px;'));

    echo $this->TeaserBoxenTabs($this->tabs);    
    echo $this->tabContainer()->captureEnd('main-container'); 
?>	
	
	<h2>Meine Abos</h2>
	<div class="content-row purple">
		<div class="cr-toolbar"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">&nbsp;Suchabos verwalten&nbsp;</a></div>
		<div class="cr-column-half">
			<h3>Aktive</h3>
			<ul>
				<li class="first"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Kindervelo für Nic</a><span>(Treffer: 24)</span></li>
				<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Neues Partyzelt</a><span>(Treffer: 3)</span></li>
				<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Spanischer Wein</a><span>(Treffer: 12)</span></li>
			</ul>		
		</div>
		<div class="cr-column-half last">
			<h3>Inaktive</h3>
			<ul>
				<li class="first"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Netzwerkdrucker Dad</a><span><a href="#">(aktivieren)</a></span></li>
				<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Ferienhaus Region Gstaad</a><span><a href="#">(aktivieren)</a></span></li>
				<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Ferienhaus Region Hasliberg</a><span><a href="#">(aktivieren)</a></span></li>
			</ul>		
		</div>
	</div>
	
	<h2>Ihre Profil-Statistiken</h2>
	<p>Hier sehen Sie ihre aktuellen Statistiken:</p>
	<?php echo $this->partial('partials/_statisticCharts.phtml', 
	                    array('caption1'=>'Chart 1: Ihre Pull-Aktivität',
	                          'caption2'=>'Chart 2: Ihre Push-Aktivität')); ?>
</div>

<div class="box-column">
	<?php echo $this->partial('partials/_boxColumnHome.phtml'); ?>
</div>