<?php 
	if(Zend_Auth::getInstance()->hasIdentity()) {
    echo $this->partial('index/_dashboard.phtml', array('searchForm'=>$this->placeholder('searchForm'),
                                                        'tabs'=>$this->tabs));	   	
  } else {
?>
<script type="text/javascript">
			var params = {menu: "false", wmode: "transparent"};
			swfobject.embedSWF("flash/Coverflow.swf", "welcome-box", "960", "250", "9.0.0", false, {}, params, {});
</script>

<div style="text-align: center; margin-top: 15px;">
	<span style="font-size: 22px;">Machen Sie Ihren Briefkasten</span><br>
	<span style="font-size: 42px; text-transform: uppercase; font-weight: bolder;">intelligent</span>
	<h3>
	Was kommt in Ihren Briefkasten? Kommt ganz darauf an, was Sie für Vorlieben haben. <br>
	Wir helfen Ihnen die Angebote zu erhalten, die Sie wollen &mdash; und die unerwünschte Werbung zu stoppen.<br> 
	</h3>
	<!-- 
	<a style="font-size: 18px;" href="<?php echo $this->url(array('controller'=>'page','action'=>'info'),'default',true) ?>">...KONZEPT &amp; IDEE...</a>
	 --> 
</div>

<div id="welcome-box">
    <h1>Hier kommt der "Take Action" Banner hin.</h1>
</div>
<div class="content-box">
	<div class="third-column">
		<div style="padding: 5px;">
		<?php 
				if(Zend_Auth::getInstance()->hasIdentity()) {
				    echo '<h3>User Profile</h3>';   
				}else{
				    echo '<h3>Login</h3>';
				    echo $this->placeholder('loginForm');
				    $this->validateDojoForm('formLogin');    
				}
		?>
		</div>
	</div>
	<div class="two-third-column">
		<div class="list-row">
			<a href="<?php echo $this->url(array('controller'=>'page','action'=>'info'),'default',true) ?>"><img src="images/idea.gif"></a>
			<h3>Das Konzept &amp; und die Idee &mdash; Mehr als nur Werbung</h3>
			<p>Mit &laquo;Stop &amp; Go&raquo; können Sie Ihre eigenen Vorlieben definieren und kontrollieren, 
			welche Werbung Sie erhalten. Digital oder physisch. Und Sie bleiben dabei garantiert anonym. Mehr: 
			<a href="<?php echo $this->url(array('controller'=>'page','action'=>'info'),'default',true) ?>">&raquo; Konzept &amp; Idee</a></p>
			<p>&nbsp;</p>
		</div>
		<!-- <div class="list-row">
			<a href="<?php echo $this->url(array('controller'=>'page','action'=>'guidelines'),'default',true) ?>"><img src="images/idea.gif"></a>
			<h3>Direkt Marketing und Konsumenten-Wahl</h3>
			<p>Wie funktioniert Direkt Marketing? Wie schützen Sie sich gegen unerwünschte Werbung? 
			Wie verdienen Sie an Ihrer Adresse mit? Wie können Sie von den besten Angeboten profitieren? Mehr: 
			<a href="<?php echo $this->url(array('controller'=>'page','action'=>'guidelines'),'default',true) ?>">&raquo; Leitfaden</a></p>			
		</div> -->
		<div class="list-row">
			<a href="<?php echo $this->url(array('controller'=>'page','action'=>'about'),'default',true) ?>"><img src="images/about.gif"></a>
			<h3>Alles über Stop &amp; Go</h3>
			<p>Wer steht hinter Stop &amp; Go? Wie geht Stop &amp; Go mit dem Daten- und Konsumentenschutz um? 
			Wie steht es um die Sicherheit? Mehr zu diesen Themen:
			<a href="<?php echo $this->url(array('controller'=>'page','action'=>'about'),'default',true) ?>">&raquo; Über Stop &amp; Go</a></p>		
			<p>&nbsp;</p>	
		</div>
	</div>
</div>
<?php  
  }
?>