@CHARSET "UTF-8";

/** Layout */
body { font-family: Arial, Helvetica; padding: 0px; margin: 10px; }
#header-logo { width: 211px; height: 92px; background-image: url('../images/logo_sag.gif'); float: left; }
#page { width: 960px; margin: 0px auto 0px auto; }
#header { border-bottom: 1px solid black; overflow: auto; }

#header-navigation { float: right; padding-right: 5px; }
#header-navigation a, #footer-left-navigation a, #footer-right-navigation a { font-size: 11px; color: black; }
#header-navigation span, #footer-left-navigation span, #footer-right-navigation span { font-size: 11px; padding-left: 5px; }

#header-main-navigation { margin-top: 55px; margin-left: 500px; }
#header-main-navigation a, #content-navigation a { font-size: 14px; color: white; text-transform: uppercase; text-decoration: none; }
#header-main-navigation span, #content-navigation span { padding-left: 5px; color: white; }
#header-main-navigation .purple { padding: 10px; background-color: #B7AFD7; }
#header-main-navigation .green { padding: 10px; background-color: #668a66; }

#footer { background-color: #EEEEEE; overflow: auto; border-top: 1px solid black; padding: 5px; clear: left; }
#footer #footer-left-navigation { float: left; }
#footer #footer-right-navigation { float: right; }
#footer-logos { clear: both; padding: 20px 0px 10px 0px; text-align: center; }
#footer-logos img { margin-right: 5px; }
#copyright { font-size: 9px; padding: 5px; }
#welcome-box { height: 250px; margin: 15px 0px 15px 0px; text-align: center; }
#content-navigation { padding: 10px; background-color: #668a66; margin-bottom: 15px; }
#content-navigation-profile { padding: 10px; background-color: #EEEEEE; margin-bottom: 15px; }
#content { overflow: auto; }
.content-box { background-color: #668a66; overflow: auto; margin-bottom: 15px; padding: 5px; }
.third-column { width: 310px; background-color: white; float: left; margin-right: 5px; }
.two-third-column { width: 635px; background-color: white; float: left; }
img { border: none; }
.content-column { float: left; width: 600px; overflow: auto; padding-bottom: 15px; }
.box-column { float: right; width: 345px; padding-left: 15px; padding-top: 24px; }

.info-box { margin-bottom: 15px; }
.info-box h3 { border-bottom: 1px solid #000000; margin-bottom: 2px; padding: 5px; }
.info-box ul, .content-row ul, .tb-content ul { margin: 0px 10px; padding: 0px; }
.info-box ul li, .content-row ul li, .tb-content ul li{ background-image: url('../images/arrow_black.gif'); background-position: 0px 14px; background-repeat: no-repeat; list-style-type: none; border-top: 1px dotted #000000; padding: 5px 10px; }
.info-box ul li.first, .content-row ul li.first, .tb-content ul li.first { border-top: none; }
.info-box ul li.last, .content-row ul li.last, .tb-content ul li.last {  }
.info-box ul li a { color: #FFFFFF; text-decoration: none; font-size: 11px; }
.info-box ul li a:hover, .content-row ul li a:hover { color: #000000; }
.brown { background-color: #EA9F62; }
.purple { background-color: #B7AFD7; }

.teaser-box-row { margin: 15px 0px 15px 0px; overflow: auto; }
.teaser-box { width: 224px; float: left; margin-right: 6px; padding: 5px; }
.tb-content { padding: 5px; background-color: #FFFFFF; overflow: auto; }
.tb-content img { float: left; }

.teaser-box-list-row { margin-bottom: 15px; overflow: auto; }
.teaser-box-list { width: 130px; float: left; margin-right: 6px; padding: 5px; }
.teaser-box-list a { font-size: 11px; text-decoration: none; color: black; }
.preview-pic { width: 115px; height: 60px; border: 2px solid #D6B194; margin-bottom: 5px; }

.content-row { margin: 15px 0px; padding: 5px; overflow: auto; }
.cr-column-half { background-color: #FFFFFF; padding: 5px; float: left; width: 282px; margin-right: 6px; }
.last { margin-right: 0px; }
.cr-toolbar { padding: 5px; background-color: #FFFFFF; margin-bottom: 5px; text-align: right; }
.cr-toolbar a { font-size: 11px; padding: 2px; border: 1px solid black; color: black; text-decoration: none; }
.content-row ul li a { color: #000000; text-decoration: none; font-size: 11px; }
.content-row ul li span { color: grey; font-size: 11px; padding-left: 3px; }

.search-box { background-color: #DDDDDD; overflow: auto; margin-bottom: 5px; text-align: center; padding-bottom: 15px; }
.search-box dd { float: left; margin-bottom: 5px; }
.search-box dt { float: left; }
.search-box a { color: #000000; font-size: 18px; text-decoration: none; display: block; float: left; padding: 5px; }
/** .search-box span { float: left; padding: 5px; } */
.search-box .dijitToggleButton, .search-box .dijitButton, .search-box .dijitDropDownButton, .search-box .dijitComboButton { margin: 0px; }

.first-row { margin-top: 0px; }

.user-votings-sharing { border-top: 1px dotted black; overflow: auto; padding-top: 15px; }

/** Text */
a { color: #ff9c01; text-decoration: none; }
p { font-size: 11px; }
h3 { font-size: 12px; margin: 0px; padding: 0px; }
h4 { font-size: 11px; margin: 5px 0px; padding: 0px; color: #FFFFFF; }
.h2-subline { border-bottom: 1px dotted black; font-size: 11px; padding-bottom: 4px; }
.h2-subline a { color: #668a66; }

/** Forms */
label { font-size: 11px; margin-right: 5px; margin-left: 5px; }
.tabLabel { font-size: 12px; }
dt label { font-weight: bold; }
dd { margin-left: 5px; margin-bottom: 15px; }
.dijitButtonText { font-size: 12px; }
.dijitRuleLabelH { font-size: 11px; }
#loginsubmit-element { float: right; }
#loginsubmit-label { display: none; }
.dijitSlider { margin-bottom: 10px; }
.tundra .dijitAccordionContainer { font-size: 12px; }
fieldset { border: 1px solid grey; }
.closed { background-image: url('../images/lock_closed_tiny_red.jpg'); background-repeat: no-repeat; background-position: 545px 5px; }
.semi { background-image: url('../images/lock_halfopen_tiny_orange.jpg'); background-repeat: no-repeat; background-position: 545px 5px; }
.open { background-image: url('../images/lock_open_tiny_green.jpg'); background-repeat: no-repeat; background-position: 545px 5px; }
legend { font-size: 11px; border: 1px solid grey; padding: 5px; font-weight: bold; }
.input-search { padding: 10px; border: 1px solid black; }

/** Lists */
.list-row { border-bottom: 1px solid black; padding: 5px; overflow: auto; }
.list-row img { float: left; margin-right: 5px; }

/** Tables */
table { border: none; }
td { font-size: 11px; padding: 2px; }
tr.odd { background-color: #eaeaea; }
tr.even { background-color: #d7d7d7; }

/** Columns for static pages */
div.col320 { width: 320px; float: left; }
div.col320 p { padding-right: 36px; padding-left: 0px; }
div.col640 { width: 640px; float: left; }
div.col640 p { padding-right: 16px; }
div.col960 { width: 960px; float: left; }
div.col960 p { padding-right: 16px; }


#page div.hSpacer { clear: left; width: 100%; padding-top: 20px; }

/** Register Text */

div.regtext { width: 620px; float: left; }
div.regtext p { padding-left: 16px; padding-right: 16px; }
div.regtext h3 { padding-left: 16px; padding-right: 16px; }
#page div.hSpacer { clear: left; width: 100%; padding-top: 20px; }

/* Interests Forms */
#interests dl { margin: 0px; }
#interests form dl dt { float: right; width: 160px; }
#interests form dl dd{ float: right; margin-bottom: 5px; }
#interests label { font-weight: normal; }
#interests .buttonbar { clear: both; overflow: auto; background-color: #FFFFFF; padding-top: 5px;	padding-right: 5px; position: absolute; bottom: 0px; width: 580px; background-image: url('../images/lock_closed_tiny_red.jpg');  background-repeat: no-repeat;  }
#interests .buttonbar dt { width: 0px; }


/* LightBox */
.black_overlay{ display: none; position: absolute; top: 0%;	left: 0%;	width: 100%;	height: 100%;	background-color: black;	z-index:1001;	-moz-opacity: 0.6;	opacity:.60;	filter: alpha(opacity=60);	}
.white_content { display: none; position: absolute;	top: 25%;	left: 25%;	width: 50%;	height: 50%;	padding: 16px;	border: 16px solid orange;	background-color: white;	z-index:1002;	overflow: auto;	}

/** Search Box */
#interestsubmit-element { margin: 0px; padding: 0px; }



