<div class="content-box">
	<div class="third-column">
		<div style="padding: 5px;">
		<?php 
				if(Zend_Auth::getInstance()->hasIdentity()) {
				    echo '<h3>User Profile</h3>';   
				}else{
				    echo '<h3>Login</h3>';
				    echo $this->placeholder('loginForm');    
				}
		?>
		</div>
	</div>
	<div class="two-third-column">
		<div class="list-row">
 			<p style="font-weight:bolder; font-size:1.2em;">Willkommen zurück!</p>
 			<p>Melden Sie sich hier mit Ihrem Benutzernamen und Ihrem Passwort an. <br />
 			Passwort vergessen? Kein Problem: <a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Passwort neu anfordern</a>.</p>
 			
 			<p style="font-weight:bolder; font-size:1.0em;">Statistiken der letzten 7 Tage</p>
 			
 			<p>
 			- 344 neue Mitglieder registriert (Total 235'756)<br />
 			- 12 neue Anbieter registriert (Total 2'450)<br />
 			- 28 neue Werbemittel hinterlegt (Total aktuelle 1'233, davon 128 Newsletters)<br />
 			- 68'544 Werbemittel ausgeliefert, davon 2'760 adressiert in Briefkästen geliefert
 			</p>
 			
 			<p style="font-weight:bolder; font-size:1.0em;">Statistiken seit Beginn</p>
 			
 			<p>
 			- Total digital ausgelieferte Werbemittel: 240'567'456<br />
 			- Total ausgelieferte Newsletter: 3'978'234<br />
 			- Adressiert in Briefkästen geliefert: 450'000
 			</p>
 			
		</div>		
	</div>
</div>