<?php echo $this->partial('partials/_teaserBoxRow.phtml'); ?>

<?php echo $this->partial('partials/_searchBox.phtml'); ?>

<div class="content-column">
	<h1>Die Publikationen</h1>
	
	<h2>Alle aktuellen Werbemittel der Schweiz.</h2>
	
	<p>&nbsp;</p>
	<?php
    $this->tabContainer()->captureStart('main-container',
                                    array('design' => 'headline', 'doLayout' => 'false'),
                                    array('style'=>'width:600px;'));

    echo $this->TeaserBoxenTabs($this->tabs);    
    echo $this->tabContainer()->captureEnd('main-container'); 
  ?>	
</div>

<div class="box-column">
	<?php echo $this->partial('partials/_boxColumnMaterial.phtml'); ?>
</div>