<div class="content-column">
	<h2><?php echo $this->details['title']; ?></h2>
	<img src="<?php echo $this->details['pic']; ?>" />
	<p><?php echo $this->details['descr']; ?></p>
	
	<a href="<?php echo $this->url(array('controller'=>'page','action'=>'paymentok'),'default',true) ?>">OK ich möchte teilnehmen</a>
</div>

<div class="box-column">
	<?php echo $this->partial('partials/_boxColumnGroupsaleDetail.phtml'); ?>
</div>