<?php echo $this->doctype() ?>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Stop &amp; Go - Prototype</title>  
  <base href="http://stopandgo.ddresch.unknown.de/public/" />
  <?php 
      if ($this->dojo()->isEnabled()){
          echo $this->dojo();
          echo $this->dojo()->addStylesheetModule('dijit.themes.tundra');      
      }
      
      echo $this->headLink()->appendStylesheet('css/global.css');
      echo $this->headScript()->appendFile('js/swfobject.js','text/javascript');      
      ?>
      <link rel="icon" href="images/favicon.ico">
</head>

<body class="tundra">
	<div id="page">
		<div id="header">
	  	<a href="/"><div id="header-logo"></div></a>
	  	<?php echo $this->partial('partials/_headerNavigation.phtml'); ?>				
	    <?php echo $this->partial('partials/_headerMainNavigation.phtml'); ?>	
		</div>
		<div id="content">
			<?php echo $this->FlashMessenger(); ?>
			<?php echo $this->layout()->content; ?>
		</div>
		<?php echo $this->partial('partials/_footer.phtml'); ?>		
	</div>	
  <?php echo $this->inlineScript() ?>	
</body>

</html>