<div id="content-navigation-profile">
	<a href="<?php echo $this->url(array('controller'=>'profile','action'=>'index'),'default',true) ?>">Ihr Profil</a>&nbsp;<span>|</span>&nbsp;
	<a href="<?php echo $this->url(array('controller'=>'profile','action'=>'interests'),'default',true) ?>">Ihre Interessen</a>
	
	<!-- <span>|</span>
	<a href="">Filter</a> -->
</div>