<?php echo $this->partial('profile/_profileNavigation.phtml'); ?>


<h1>Ihr Profil</h1>

<h2>Die Basisdaten und soziodemografischen Merkmale. Auf Grund dieser Angaben filtert Stop &amp; Go automatisch die 
Werbemittel heraus, die auf ihr Profil passen. Sie entscheiden, welche Merkmale den Anbietern zugänglich sind.</h2>

<p>Sie können Ihr Profil noch weiter 
anreichern mit <a href="<?php echo $this->url(array('controller'=>'profile','action'=>'interests'),'default',true) ?>">Ihre Interessen</a>.</p>

<p>&nbsp;</p>

<div class="content-column">
<?php
$this->tabContainer()->captureStart('main-container',
                                    array('design' => 'headline', 'doLayout' => 'false'),
                                    array('style'=>'width:600px;'));

$tabTitles = array('userdataForm'	 => 'Benutzerdaten',
									 'educationForm' => 'Bildung &amp; Beruf',
									 'householdForm' => 'Wohnen',
									 'consumeForm'   => 'Konsum',
									 'mobilityForm'  => 'Mobilität',
									 'lifestyleForm' => 'Lifestyle');

foreach($tabTitles as $key => $title)
{
	  if($key == $this->selectedForm)
	  {
	  		echo $this->contentPane( $key, $this->placeholder($key),
                     array('region' => 'left','title'=>$title, 'selected' => true),
                     array('style' => 'background-color: white;'));	
	  }else{
	  	  echo $this->contentPane( $key, $this->placeholder($key),
                     array('region' => 'left','title'=>$title),
                     array('style' => 'background-color: white;'));
	  }  
}
                                          
echo $this->tabContainer()->captureEnd('main-container');                                    
?>
</div>

<div class="box-column">
	<?php echo $this->partial('partials/_boxColumnUserProfile.phtml'); ?>
</div>