<?php echo $this->partial('profile/_profileNavigation.phtml'); ?>


<h1>Ihre Interessen</h1>

<h2>Interessen &mdash; oder erweiterte Profilmerkmale. Mit diesen Merkmalen können Sie einen noch genaueren 
Werbefilter aufsetzen. Sie entscheiden, welche Merkmale den Anbietern zugänglich sind.</h2> 

<p>Beachten Sie auch <a href="<?php echo $this->url(array('controller'=>'profile','action'=>'index'),'default',true) ?>">Ihr Profil</a>.</p>


<p>&nbsp;</p>


<div id="interests" class="content-column">
<?php
$this->accordionContainer()->captureStart('stack-container',
       array('design' => 'headline', 'doLayout' => 'false'),
       array('style'=>'width:595px; margin-bottom: 15px;'));

// iterate all entries and generate forms
foreach($this->interests['parents'] as $interest)
{		
	  if($this->parentId == $interest['id'])
	  {
	  		echo  $this->accordionPane( 'int' . $interest['id'], $this->interests['forms'][$interest['id']],
       															array('region' => 'top', 'title'=>$interest['label'], 'selected'=>true),
       															array('style' => 'background-color: white; height: 280px;'));	
	  }else{
	  		echo  $this->accordionPane( 'int' . $interest['id'], $this->interests['forms'][$interest['id']],
       															array('region' => 'top', 'title'=>$interest['label']),
       															array('style' => 'background-color: white; height: 280px;'));
	  }
}

echo $this->accordionContainer()->captureEnd('stack-container');
?>
</div>

<div class="box-column">
	<?php echo $this->partial('partials/_boxColumnUserInterests.phtml'); ?>
</div>