<!-- start help sequence -->
	<a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">
	<img align="right" src="images/Icon_Help_small.png" alt="Hilfe zu dieser Ansicht" title="Hilfe zu dieser Ansicht" />
	</a>
			
			<div id="light" class="white_content">
				<h2>Hilfe zu den aktuellen Themen</h2>
				<p>Hier sehen Sie die vollständige Liste der Themen, die zur Zeit auf Stop &amp; Go erhältlich sind. 
				</p>
				
				<h3>Ich finde ein Thema nicht, das mich interessiert.</h3>
				<p>Benützen Sie die Suche, um nachzusehen, ob das Thema eigentlich existiert aber evtl. zur Zeit keine aktuellen Werbemittel hat.</p>
				
				<h3>In der Liste sind Themen, die mich nicht interessieren.</h3>
				<p>Wählen Sie das aus und blockieren Sie das Thema von Ihren Ansichten.</p>
				
				<br /><br />
				
				<p><a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">
				Fenster schliessen</a></p>
			</div>
			<div id="fade" class="black_overlay"></div>
<!-- end help sequence -->


	<div class="info-box purple">
		<h3>Die Stop &amp; Go-Themen</h3>
		<ul>
			<p>Zur Zeit angebotene Themen: 234</p>
			
			<p>Hier können Sie auf alle Themen zugreifen. Suchen Sie sich ein Thema aus, sichten Sie die Angebote 
			und konfigurieren Sie Themen und Anbieter.</p>
			
			<p>Sie können die Themen abonnieren oder blockieren.<br />&nbsp;</p>
			
			<h4>DIE NEUSTEN THEMEN</h4>
			
			<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Garten-Häuser</a><img align="right" src="images/new.gif" /></li>	
			<li><a href="<?php echo $this->url(array('controller'=>'theme','action'=>'detail','id'=>11),'default',true) ?>">Schlafzimmer</a><img align="right" src="images/new.gif" /></li>
			<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Felgen</a><img align="right" src="images/new.gif" /></li>
			<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Digital Kameras</a><img align="right" src="images/new.gif" /></li>
			<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Musikinstrumente</a><img align="right" src="images/new.gif" /></li>
						<li class="last"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Hundefutter</a><img align="right" src="images/new.gif" /></li>
		</ul>
	</div>
	
	<div class="info-box brown">
		<h3>Ihre Stop &amp; Go Mailbox: 4 neue Nachrichten</h3>
		<ul>
			
			<li class="first"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Mailbox öffnen</a></li>
			<li class="last"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Neue Newsletters finden</a></li>
		</ul>
		
	</div>
	
	<div class="info-box purple">
		<h3>Ihre Benutzer- und Profileinstellungen</h3>
		<ul>
			<li class="first"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Meine Themen verwalten</a></li>
			<li><a href="<?php echo $this->url(array('controller'=>'profile','action'=>'index'),'default',true) ?>">Ihre Basisdaten</a></li>
			<li class="last"><a href="<?php echo $this->url(array('controller'=>'profile','action'=>'interests'),'default',true) ?>">Ihre Interessen</a></li>
		</ul>
		
	</div>
	
	<div class="info-box brown">
		<h3>Ihre Suchabos</h3>
		<ul>
			<li class="first"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Suchabos verwalten</a></li>	
			<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Suchabos von anderen ansehen</a></li>
			<li class="last"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Neues Suchabo anlegen</a></li>
		</ul>
	</div>