	<div class="info-box purple">
		<h3>Dashboard konfigurieren</h3>
		<ul>
			<li class="first"><a href="">Anbieter wählen</a></li>
			<li><a href="">Interessen anpassen</a></li>
			<li class="last"><a href="">Filter-Einstellungen</a></li>
		</ul>
	</div>
	
	<div class="info-box brown">
		<h3>Ihre Stop & Go Mailbox: 4 neue Nachrichten</h3>
		<ul>
			
			<li class="first"><a href="">Mailbox öffnen</a></li>
			<li><a href="">Neue Newsletters finden</a></li>
			<li class="last"><a href="">Filter-Einstellungen</a></li>
		
		</ul>
		
	</div>
	
	<div class="info-box purple">
		<h3>Ihre Suchabos</h3>
		<ul>
			<li class="first"><a href="">Suchabos verwalten</a></li>	
			<li><a href="">Suchabos von anderen ansehen</a></li>
			<li class="last"><a href="">Neues Suchabo anlegen</a></li>
		</ul>
	</div>
	
	<div class="info-box brown">
		<h3>Hilfe Center</h3>
		<ul>
			<li class="first"><a href="">Benutzer Profil</a></li>
			<li><a href="">Benutzer Interessen</a></li>
			<li class="last"><a href="">Filter</a></li>
		</ul>
	</div>