	<div class="info-box brown">
		<h3>Anbieter-Info</h3>
		<ul>
			<p>Fitness Club<br />
				Fitnessstrasse 5<br />
				Postfach<br />
				3001 Fitikon<br />
			</p>
				<li class="first"><a href="mailto:fitness@swiss-mail.ch">info@fitnessclub.ch</a></li>
				<li class="last"><a href="http://www.stop-and-go.ch/redirect/fitness">www.fitnessclub.ch</a></li>
		</ul>
		
	</div>
	
	<div class="info-box purple">
		<h3>Angebots-Info</h3>
		<ul>
			<p>Publiziert: 25.01.2011<br />
			Läuft noch bis: 25.03.2011<br />
			Initiert von: User 3456<br /><br />
			Anzahl benötigte Teilnehmer: 25<br />
			Teilnehmer zur Zeit: 20<br />
			Noch benötigte Teilnehmer: 5<br /><br />
			Kommentare: 5<br />
			Bewertung: ||********<br />&nbsp;</p>
		</ul>
	</div>
	
		
	<div class="info-box brown">
		<h3>Anbieter konfigurieren</h3>
		<ul>
			<form action="">
			  <p>
			 	    <input type="radio" name="permission" value="abo" checked> Sichtbar lassen.<br />
				    <input type="radio" name="permission" value="abo"> Abonnieren und zu meiner Auswahl hinzufügen (7 Pts)<br />
				    <input type="radio" name="permission" value="block"> Sperren (will ich nicht mehr sehen) (2 Pts)<br />
				    <br />
				    Wenn dieser Anbieter neues Material hochlädt:<br />
				    <input type="checkbox" name="zutat" value="salami"> Per Mail benachrichtigen (4 Pts pro Mail)<br />
				    <input type="checkbox" name="zutat" value="pilze"> In mein Sammelmail integrieren (2 Pts pro Mail)<br />
					<p align="right">
					<input type="submit" name="button" value="speichern"></p>
					
			  
			</form>
		
			<!-- <li class="first"><a href="">Diesen Anbieter konfigurieren</a></li>	
			<li><a href="">Alle Angebote des Anbieters ansehen</a></li> -->
			<li class="last"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Alle Angebote dieses Anbieters ansehen</a></li>
		</ul>
	</div>
	
	