<!-- start help sequence -->
	<a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">
	<img align="right" src="images/Icon_Help_small.png" alt="Hilfe zu dieser Ansicht" title="Hilfe zu dieser Ansicht" />
	</a>
			
			<div id="light" class="white_content">
				<h2>Hilfe zu den Gruppen-Einkäufen</h2>
				<p style="font-weight:bolder;">Was ist ein Gruppen-Einkauf?</p>
				<p>Ein Gruppen-Einkauf kann von Ihnen initiert werden. Sie finden beispielsweise ein Angebot, 
				welches Sie sehr interessiert, aber preislich an der oberen Schmerzgrenze liegt. Sie können 
				mit dem Angebot also einen Gruppen-Einkauf starten. Sie treten in einen Dialog mit anderen 
				Stop &amp; Go-Mitgliedern und dem Anbieter. Darauf hin, je nach dem wieviele andere Verbraucher 
				auch am Gruppen-Einkauf teilnehmen wollen, können Sie einen besseren Preis mit dem Anbieter 
				aushandeln.</p>
				<p>Ein Gruppen-Einkauf kann auch von einem Anbieter initiert werden.</p>
				
				
				
				<br /><br />
				
				<p><a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">
				Fenster schliessen</a></p>
			</div>
			<div id="fade" class="black_overlay"></div>
<!-- end help sequence -->


	<div class="info-box purple">
		<h3>Gruppen-Einkauf</h3>
		<ul>
			<p>Sie haben ein Angebot gefunden, das Sie interessiert, aber für Ihren Geschmack gerade etwas zu teuer ist? Starten Sie einen Gruppen-Einkauf 
			und versuchen Sie weitere Stop &amp; Go-Mitglieder zu einem Deal mit dem Anbieter zu bewegen.</p>
			<li class="last"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Neuen Gruppen-Einkauf starten</a></li>
			
		</ul>
	</div>
	
	<div class="info-box brown">
		<h3>Ihre Stop &amp; Go Mailbox: 4 neue Nachrichten</h3>
		<ul>
			
			<li class="first"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Mailbox öffnen</a></li>
			<li class="last"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Neue Newsletters finden</a></li>
		</ul>
		
	</div>
	
	<div class="info-box purple">
		<h3>Ihre Benutzer- und Profileinstellungen</h3>
		<ul>
			<li class="first"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Meine Themen verwalten</a></li>
			<li><a href="<?php echo $this->url(array('controller'=>'profile','action'=>'index'),'default',true) ?>">Ihre Basisdaten</a></li>
			<li class="last"><a href="<?php echo $this->url(array('controller'=>'profile','action'=>'interests'),'default',true) ?>">Ihre Interessen</a></li>
		</ul>
		
	</div>
	
	<div class="info-box brown">
		<h3>Ihre Suchabos</h3>
		<ul>
			<li class="first"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Suchabos verwalten</a></li>	
			<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Suchabos von anderen ansehen</a></li>
			<li class="last"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Neues Suchabo anlegen</a></li>
		</ul>
	</div>