	<div class="info-box brown">
		<h3>Anbieter-Info</h3>
		<ul>
			<p>
			Beliani GmbH<br />
			Lindenstrasse 16<br />
			6341 Baar
			<br /><br />
			
			Tel: 0842 800 111<br />
			Fax: 032 510 45 73<br />
						
						
			</p>
				<li class="first"><a href="mailto:beliani@swiss-mail.ch">info@beliani.ch</a></li>
				<li class="last"><a href="http://www.stop-and-go.ch/redirect/beliani">www.beliani.ch</a></li>
		</ul>
		
	</div>
	
	<!-- Publikation bestellen -->
	
	<div class="info-box purple">
		<h3>Diesen Werbemittel bestellen</h3>
		<ul>
		
			<form action="">
			  <p>Diese Publikation können Sie gedruckt bestellen. Sie erhalten dafür 15 Punkte gutgeschrieben.<br /><br />
			 	
				    <input type="radio" name="permission" value="abo"> An meine Privatadresse.<br />
				    <input type="radio" name="permission" value="abo"> An meine Ferienhaus-Adresse.<br />
				    <input type="radio" name="permission" value="block"> An meine Geschäftsadresse.<br />
				    <p align="right">
					<input type="submit" name="button" value="zusenden"></p>
					<br />
		
			</form>
		
			
		</ul>
	</div>
	
	<div class="info-box purple">
		<h3>Anbieter konfigurieren</h3>
		<ul>
		
			<form action="">
			  <p>
			 	    <input type="radio" name="permission" value="abo" checked> Sichtbar lassen.<br />
				    <input type="radio" name="permission" value="abo"> Abonnieren und zu meiner Auswahl hinzufügen (7 Pts)<br />
				    <input type="radio" name="permission" value="block"> Sperren (will ich nicht mehr sehen) (2 Pts)<br />
				    <br />
				    Wenn dieser Anbieter neues Material hochlädt:<br />
				    <input type="checkbox" name="zutat" value="salami"> Per Mail benachrichtigen (4 Pts pro Mail)<br />
				    <input type="checkbox" name="zutat" value="pilze"> In mein Sammelmail integrieren (2 Pts pro Mail)<br />
					<p align="right">
					<input type="submit" name="button" value="speichern"></p>
					

			</form>
		
			<!-- <li class="first"><a href="">Diesen Anbieter konfigurieren</a></li>	
			<li><a href="">Alle Angebote des Anbieters ansehen</a></li> -->
			<li class="last"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Alle Angebote dieses Anbieters ansehen</a></li>
		</ul>
	</div>
	
	<div class="info-box brown">
		<h3>Werbemittel-Info</h3>
		<ul>
			<p>
			Publiziert: 25.01.2011<br />
			Anzahl Seiten: 16<br />
			Views: 245<br />
			Bestellungen: 27<br />
			Kommentare: 0<br />
			Abos: 12<br />
			Bewertung: |||||||***<br />
			&nbsp;
			</p>
		</ul>
	</div>