	<div class="info-box purple">
		<h3>Dieses Thema konfigurieren</h3>
		<ul>
			<form action="">
			  <p>
			 	    <input type="radio" name="permission" value="abo" checked> Sichtbar lassen.<br />
				    <input type="radio" name="permission" value="abo"> Abonnieren und zu meiner Auswahl hinzufügen (7 Pts)<br />
				    <input type="radio" name="permission" value="block"> Sperren (will ich nicht mehr sehen) (2 Pts)<br />
				    <br />
				    Wenn in diesem Thema neues Material erscheint:<br />
				    <input type="checkbox" name="zutat" value="salami"> Per Mail benachrichtigen (4 Pts pro Mail)<br />
				    <input type="checkbox" name="zutat" value="pilze"> In mein Sammelmail integrieren (2 Pts pro Mail)<br />
					<p align="right">
					<input type="submit" name="button" value="speichern"></p>
					<br />
			  
			</form>
			
			
		</ul>
	</div>
	
	<div class="info-box brown">
		<h3>Diese Auswahl anpassen</h3>
		<ul>
			
			<li class="first"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Neuste</a></li>
			<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Beliebteste</a></li>
			<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Nach Werbemittel-Typ ordnen</a></li>
			<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Zeige Reduzierte an</a></li>
			<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">In ein Suchabo umwandeln</a></li>
			<li class="last"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Gruppen-Einkäufe</a></li>
		
		</ul>
		
	</div>
	
	<div class="info-box purple">
		<h3>Hilfe Center</h3>
		<ul>
			<li class="first"><a href="<?php echo $this->url(array('controller'=>'profile','action'=>'index'),'default',true) ?>">Benutzer Profil</a></li>
			<li class="last"><a href="<?php echo $this->url(array('controller'=>'profile','action'=>'interests'),'default',true) ?>">Benutzer Interessen</a></li>
			
		</ul>
	</div>