<!-- start help sequence -->
	<a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">
	<img align="right" src="images/Icon_Help_small.png" alt="Hilfe zu dieser Ansicht" title="Hilfe zu dieser Ansicht" />
	</a>
			
			<div id="light" class="white_content">
				<h2>Hilfe zu den aktuellen Werbemitteln</h2>
				<p>Hier sehen Sie alle aktuellen Werbemittel, die zur Zeit in der Schweiz im Umlauf sind. Sie können die Werbemittel ansehen, löschen 
				oder die jeweiligen Anbieter für Ihre Bedürfnisse konfigurieren.</p>
				
				<h3>Bestimmte Themen interessieren mich nicht.</h3>
				<p>Kein Problem. Blockieren Sie gewisse Themen pauschal (=> Meine Themen verwalten).</p>
				
				<h3>Ich finde die Themen, die mich interessieren, nicht.</h3>
				<p>Auch kein Problem. Gehen Sie auf &laquo;Themen&raquo; und wählen Sie die Themen, die Sie interessieren aus.</p>
				
				<br /><br />
				
				<p><a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">
				Fenster schliessen</a></p>
			</div>
			<div id="fade" class="black_overlay"></div>
<!-- end help sequence -->


	<div class="info-box purple">
		<h3>Die aktuellen Werbemittel</h3>
		<ul>
			<p>Hier können Sie auf alle Werbemittel zugreifen, die zur Zeit auf Stop &amp; Go erhältlich sind. 
			Wählen Sie aus und konfigurieren Sie Anbieter und Themen nach Ihren perönlichen Interessen.<br /></p>
			<p>&nbsp;</p>
		</ul>
	</div>
	
	<div class="info-box brown">
		<h3>Ihre Stop &amp; Go Mailbox: 4 neue Nachrichten</h3>
		<ul>
			
			<li class="first"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Mailbox öffnen</a></li>
			<li class="last"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Neue Newsletters finden</a></li>
		</ul>
		
	</div>
	
	<div class="info-box purple">
		<h3>Ihre Benutzer- und Profileinstellungen</h3>
		<ul>
			<li class="first"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Meine Themen verwalten</a></li>
			<li><a href="<?php echo $this->url(array('controller'=>'profile','action'=>'index'),'default',true) ?>">Ihre Basisdaten</a></li>
			<li class="last"><a href="<?php echo $this->url(array('controller'=>'profile','action'=>'interests'),'default',true) ?>">Ihre Interessen</a></li>
		</ul>
		
	</div>
	
	<div class="info-box brown">
		<h3>Ihre Suchabos</h3>
		<ul>
			<li class="first"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Suchabos verwalten</a></li>	
			<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Suchabos von anderen ansehen</a></li>
			<li class="last"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Neues Suchabo anlegen</a></li>
		</ul>
	</div>
	
	