<!-- start help sequence -->
	<a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">
	<img align="right" src="images/Icon_Help_small.png" alt="Hilfe zu dieser Ansicht" title="Hilfe zu dieser Ansicht" />
	</a>
			
			<div id="light" class="white_content">
				<p align="right"><a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">
				Fenster schliessen</a></p>
				
				<h2>Hilfe zu Ihrem Profil</h2>
				<p style="font-weight:bolder;">Hier können Sie Ihre Basisdaten und soziodemografischen Merkmale definieren. Sämtliche Angaben 
				bleiben anonym. Ihr Name, Ihre Adresse und Ihre E-Mails werden niemals zugänglich gemacht. </p>
				
				<h3>Überschrift 1</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
				Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, 
				ultricies nec, pellentesque eu, pretium quis, sem. </p>
				
				<h3>Überschrift 2</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
				Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, 
				ultricies nec, pellentesque eu, pretium quis, sem. </p>
				
				<h3>Überschrift 3</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
				Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, 
				ultricies nec, pellentesque eu, pretium quis, sem. </p>
				
				
				<br /><br />
				
				
			</div>
			<div id="fade" class="black_overlay"></div>
<!-- end help sequence -->


	<div class="info-box purple">
		<h3>Ihre Privatsphäre bleibt geschützt</h3>
		<ul>
			<p>Bei Stop & Go bleiben Ihre Daten immer umfassend geschützt. 
				Weder Ihr Name noch Ihre Adresse wird je an Anbieter bekannt gegeben. 
				Sie bestimmen, welche Angaben in Ihrem anonymen Profil freigegeben sind.</p>
				
			<p>Je mehr Merkmale Sie ausfüllen, umso besser sind die Angebote auf Sie zugeschnitten und 
			desto wertvoller ist Ihr Profil für die Anbieter. <br />&nbsp;</p>
		</ul>
		
	</div>
	
	<div align="center">
	<h3>Vollständigkeit Basisdaten und Profilwert mit Interessen</h3>
	<img src="images/gauge_low.gif" hspace="15" vspace="10" />&nbsp;<img src="images/gauge_low.gif" hspace="15" vspace="10" />
	</div>
	
	<div class="info-box brown">
		<h3>Ihr Profilstatus</h3>
		<ul>
			<h4>Vollständigkeit Basisdaten: 4%</h4>
			<p>Geben Sie mehr Daten ein... Sie müssen mindestens 40% erreichen, 
			um an den Kick-back-Programmen oder Gruppenkäufen teilnehmen zu können.</p>
				
			<h4>Profilwert mit Interessen: ||********</h4>
			<p>Steigern Sie den Profilwert mit weiteren Profilangaben, Kommentaren zu Werbemitteln, Bewertungen, 
			der Teilnahme an Umfragen, Weitersagen...<br />&nbsp;</p>
			
		</ul>
		
	</div>
	
	
	
	<div class="info-box purple">
		<h3>Infos zu dieser Ansicht</h3>
		<ul>
			<h4>Benutzerdaten</h4>
				<p>Ohne E-Mail-Angabe und ohne Adressangabe Ihres Briefkastens können die Anbieter Sie natürlich nicht erreichen. 
				Sie müssen also mindestens eine E-Mail-Adresse angeben. Alle Angaben bleiben dabei immer anonym.</p>
				
				<p>Je mehr Sie ausfüllen, desto höher wird Ihr anonymes Profil bewertet und Sie erzielen höhere Entschädigungen 
				für Ihre Kontaktbereitschaft. Sie können also auch Zweitwohungen angeben und gezielt gewisse Print-Werbung 
				dorthin bestellen, zu dem Zeitpunkt, wenn Sie es wünschen.</p>
				
			<h4>Bildung & Beruf</h4>
				<p>Alle Angaben sind optional. Sie müssen auch keine absoluten Einkommenszahlen angeben, nur Ihre persönliche
				Einschätzung. Je mehr Sie angeben, desto höher wird Ihr Profil bewertet.</p>
				
			<h4>Wohnen</h4>
				<p>Je besser das System weiss, wie Ihre Wohnsituation aussieht, desto treffendere Angebote wird es für Sie 
				vorselektieren. Es hat ja keinen Sinn, Ihnen neuste Sattel-Modelle vorzuschlagen, wenn Sie kein Pferd haben.</p>
				
			<h4>Konsum</h4>
				<p>Sie können sich selber ein bisschen Typisieren. Wie kaufen Sie ein, auf was achten Sie, wie gehen Sie mit den 
				populären Medien um.</p>
				
			<h4>Mobilität</h4>
				<p>Wenn Sie ein überzeugter ÖV-Benutzer sind, wollen Sie ja keine Werbung für Motorräder oder den neusten BMW sehen, 
				ausser natürlich Sie würden es explizit verlangen.</p>	
				
			<h4>Lifestyle</h4>
				<p>Welchem Lifestyle-Typ würden Sie sich den zuordnen? Auch auf Grund von diesen Angaben wird das System 
				sorgfäligere und interessantere Angebote für Sie auswählen können.</p>			
			
			<li class="first"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Hilfe mit psychografischer Zuordnung</a></li>	
			<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'privacy'),'default',true) ?>">Datenschutzerklärung</a></li>
			<li class="last"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'manifesto'),'default',true) ?>">Konsumentenschutz-Manifesto</a></li>
		</ul>
	</div>
	
	