	<div class="info-box brown">
		<h3>Anbieter-Info</h3>
		<ul>
			<p>FONDUEPLAUSCH<br />
				Käsestrasse 5<br />
				Postfach<br />
				3001 Umrühr<br />
			</p>
				<li class="first"><a href="mailto:fondue@swiss-mail.ch">info@fondueplausch.ch</a></li>
				<li class="last"><a href="http://www.stop-and-go.ch/redirect/fenaco">www.fondueplausch.ch</a></li>
		</ul>
		
	</div>
	
	<div class="info-box purple">
		<h3>Anbieter konfigurieren</h3>
		<ul>
		
			<form action="irgend">
			  <p>
			 	
				    <input type="radio" name="permission" value="abo" checked> Sichtbar lassen.<br />
				    <input type="radio" name="permission" value="abo"> Abonnieren und zu meiner Auswahl hinzufügen.<br />
				    <input type="radio" name="permission" value="block"> Sperren (will ich nicht mehr sehen).<br />
				    <br />
				    Wenn dieser Anbieter neues Material hochlädt:<br />
				    <input type="checkbox" name="zutat" value="salami"> Per Mail benachrichtigen<br />
				    <input type="checkbox" name="zutat" value="pilze"> In mein Sammelmail integrieren<br />
				
			  </p>
			</form>
		
			<!-- <li class="first"><a href="">Diesen Anbieter konfigurieren</a></li>	
			<li><a href="">Alle Angebote des Anbieters ansehen</a></li> -->
			<li class="last"><a href="">Alle Angebote dieses Anbieters ansehen</a></li>
		</ul>
	</div>
	
	<div class="info-box brown">
		<h3>Werbemittel-Info</h3>
		<ul>
			<p>Publiziert: 25.01.2011</p>
			<p>Anzahl Seiten: 1</p>
			<p>Views: 245</p>
			<p>Kommentare: 7</p>
			<p>Abos: 12</p>
			<p>Bewertung: |||||||***<br />&nbsp;</p>
		</ul>
	</div>