<div class="info-box brown">
		<h3>Anbieter-Info</h3>
		<ul>
			<p>OTTO'S AG<br />
				Wassermatte 3<br />
				Postfach<br />
				CH-6210 Sursee<br />
				Tel. 041 - 925 05 05<br />
				Fax 041 - 925 05 15<br />
			</p>
				<li class="first"><a href="mailto:ottos@swiss-mail.ch">info@ottos.ch</a></li>
				<li class="last"><a href="http://www.stop-and-go.ch/redirect/ottos">www.ottos.ch</a></li>
		</ul>
		
	</div>
	
	<div class="info-box purple">
		<h3>Anbieter konfigurieren</h3>
		<ul>
			<form action="">
			  <p>
			 	    <input type="radio" name="permission" value="abo" checked> Sichtbar lassen.<br />
				    <input type="radio" name="permission" value="abo"> Abonnieren und zu meiner Auswahl hinzufügen (7 Pts)<br />
				    <input type="radio" name="permission" value="block"> Sperren (will ich nicht mehr sehen) (2 Pts)<br />
				    <br />
				    Wenn dieser Anbieter neues Material hochlädt:<br />
				    <input type="checkbox" name="zutat" value="salami"> Per Mail benachrichtigen (4 Pts pro Mail)<br />
				    <input type="checkbox" name="zutat" value="pilze"> In mein Sammelmail integrieren (2 Pts pro Mail)<br />
					<p align="right">
					<input type="submit" name="button" value="speichern"></p>
					
			  
			</form>
				<p>&nbsp;</p>
		
			
		</ul>
	</div>
	
	<div class="info-box brown">
		<h3>Anbieter-Statistiken</h3>
		<ul>
			<p>Mitglied seit: 25.01.2011<br />
			Aktuelle Publikationen: 8<br />
			Total Publikationen: 288<br />
			Total Views: 123545<br />
			Kommentare: 85<br />
			Abos: 12005<br />
			Bewertung: ||||******<br />&nbsp;</p>
		</ul>
	</div>
	
	