	<div class="info-box brown">
		<h3>Suchresultate</h3>
		<ul>
		<p>Sie können die Suchresultate als Suchabo speichern.</p>
		
		<li class="last"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Als Suchabo speichern</a></li>
		
		</ul>
		
	</div>
	
	