<!-- start help sequence -->
	<a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">
	<img align="right" src="images/Icon_Help_small.png" alt="Hilfe zu dieser Ansicht" title="Hilfe zu dieser Ansicht" />
	</a>
			
			<div id="light" class="white_content">
				<h2>Hilfe zu Ihren Interessen</h2>
				<p style="font-weight:bolder;">Hier können Sie Ihre Interessen &mdash; die erweiterten Profilmerkmale &mdash; definieren. 
				Sämtliche Angaben bleiben anonym und werden nie mit Ihrer Identität in Verbindung gebracht. </p>
				
				<h3>Überschrift 1</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
				Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, 
				ultricies nec, pellentesque eu, pretium quis, sem. </p>
				
				<h3>Überschrift 2</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
				Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, 
				ultricies nec, pellentesque eu, pretium quis, sem. </p>
				
				<h3>Überschrift 3</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
				Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, 
				ultricies nec, pellentesque eu, pretium quis, sem. </p>
				
				
				<br /><br />
				
				<p><a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">
				Fenster schliessen</a></p>
			</div>
			<div id="fade" class="black_overlay"></div>
<!-- end help sequence -->

	<div class="info-box purple">
		<h3>Ihre Interessen</h3>
		<ul>
			<p>Hier reichern Sie Ihr Profil mit zusätzlichen Merkmalen an. Je genauer Sie Ihre Interessen definieren, 
			desto besser passen die Empfehlungen von Stop &amp; Go zu Ihnen. Gleichzeitig steigern Sie den Wert Ihres 
			anonymen Profils und sammeln entsprechend mehr Go-Points (GOPS).</p>
			
			<p>Ihre Interessen mögen sich auch von Zeit zu Zeit ändern. Hier können Sie jederzeit Änderungen an 
			Ihren Einstellungen vornehmen.
			<br />&nbsp;</p>
			
		</ul>
	</div>
	
	<div align="center">
	<h3>Vollständigkeit Basisdaten und Profilwert mit Interessen</h3>
	<img src="images/gauge_low.gif" hspace="15" vspace="10" />&nbsp;<img src="images/gauge_high.gif" hspace="15" vspace="10" />
	</div>
		
	<div class="info-box brown">
		<h3>Ihr Profilstatus</h3>
		<ul>
			<h4>Vollständigkeit Basisdaten: 4%</h4>
			<p>Geben Sie mehr Daten ein... Sie müssen mindestens 40% erreichen, 
			um an den Kick-back-Programmen oder Gruppenkäufen teilnehmen zu können.</p>
				
			<h4>Profilwert mit Interessen: ||********</h4>
			<p>Steigern Sie den Profilwert mit weiteren Profilangaben, Kommentaren zu Werbemitteln, Bewertungen, 
			der Teilnahme an Umfragen, Weitersagen...<br />&nbsp;</p>
			
		</ul>
		
	</div>
	
	
	<div class="info-box purple">
		<h3>Infos zu dieser Ansicht</h3>
		<ul>
			<h4>Ihre persönlichen Interessen</h4>
				<p>Reichern Sie Ihre persönlichen Profilmerkmale mit Ihren Interessen an. Alle Ihre Angaben bleiben dabei immer anonym.
				Auf Grund Ihrer INteressen schlägt Ihnen Stop &amp; Go interessante und passende Angebote und Anbieter vor.</p>
				
				<p>Je mehr Sie ausfüllen, desto höher wird Ihr anonymes Profil bewertet und Sie erzielen höhere Entschädigungen 
				für Ihre Kontaktbereitschaft. </p>
				
				<p>&nbsp;</p>
		</ul>
	</div>
	
	