
<!-- start help sequence -->
	<a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">
	<img align="right" src="images/Icon_Help_small.png" alt="Hilfe zu dieser Ansicht" title="Hilfe zu dieser Ansicht" />
	</a>
			
			<div id="light" class="white_content">
				<h2>Hilfe zu Ihrem persönlichen Briefkasten</h2>
				<p>In dieser Ansicht sehen Sie alle Werbemittel, die Sie entweder explizit angefordert haben oder die das System auf 
				Grund Ihrer Profilmerkmale empfiehlt. Sie können die Tabs (=>Ihre Themen verwalten) selber kreieren oder ändern.</p>
				
				<h3>Zuviele Angebote?</h3>
				<p>Definieren Sie Ihre Basisdaten und Profilmerkmale genauer.</p>
				
				<h3>Zuwenig oder keine Angebote?</h3>
				<p>Ihre Profilmerkmale sind vielleicht etwas gar spezifisch ausgefallen. 
				Buchstabieren Sie ein bisschen zurück. Zum Beispiel von Tauchsport zurück auf Wassersport.</p>
				
				<h3>Was ist &laquo;Meine Mailbox&raquo;?</h3>
				<p>Ihre Mailbox ist die anonyme Mailbox auf Stop & Go. Hierher können Sie unerkannt Newsletters bestellen.</p>
				
				<br /><br />
				
				<p><a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">
				Fenster schliessen</a></p>
			</div>
			<div id="fade" class="black_overlay"></div>
<!-- end help sequence -->

	<div class="info-box purple">
		<h3>Ihr Stop &amp; Go-Briefkasten</h3>
		<ul>
			<p>Hier sehen Sie alle Werbemittel, die Sie aktiv zulassen oder auf Grund Ihrer Profilmerkmale vom System empfohlen werden. 
			Sie können die Werbemittel anschauen, blockieren oder &mdash; falls gedruckt erhältlich &mdash; physisch bestellen.</p>
			<p>&nbsp;</p>
			
		</ul>
	</div>
	
		
	
	<div class="info-box brown">
		<h3>Ihre Stop &amp; Go Mailbox: 4 neue Nachrichten</h3>
		<ul>
			
			<li class="first"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Mailbox öffnen</a></li>
			<li class="last"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Neue Newsletters finden</a></li>
		</ul>
		
	</div>
	
	<div class="info-box purple">
		<h3>Ihre Benutzer- und Profileinstellungen</h3>
		<ul>
			<li class="first"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Meine Themen verwalten</a></li>
			<li><a href="<?php echo $this->url(array('controller'=>'profile','action'=>'index'),'default',true) ?>">Ihre Basisdaten</a></li>
			<li class="last"><a href="<?php echo $this->url(array('controller'=>'profile','action'=>'interests'),'default',true) ?>">Ihre Interessen</a></li>
		</ul>
		
	</div>
	
	
	