<!-- start help sequence -->
	<a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">
	<img align="right" src="images/Icon_Help_small.png" alt="Hilfe zu dieser Ansicht" title="Hilfe zu dieser Ansicht" />
	</a>
			
			<div id="light" class="white_content">
				<h2>Hilfe zu den aktuellen Anbietern</h2>
				<p>Hier sehen Sie die vollständige Liste der Anbieter, die zur Zeit aktuelle Werbemittel auf Stop &amp; Go platziert haben. 
				</p>
				
				<h3>Ich finde einen Anbieter nicht, der mich interessiert.</h3>
				<p>Benützen Sie die Suche, um nachzusehen, ob der Anbieter registriert ist und evtl. zur Zeit nur keine aktuellen Werbemittel hat.</p>
				
				<h3>In der Liste sind Anbieter, die mich nicht interessieren.</h3>
				<p>Wählen Sie den Anbieter aus und blockieren Sie den Anbieter von Ihren Ansichten.</p>
				
				<br /><br />
				
				<p><a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">
				Fenster schliessen</a></p>
			</div>
			<div id="fade" class="black_overlay"></div>
<!-- end help sequence -->


	<div class="info-box purple">
		<h3>Das Stop & Go Anbieter-Verzeichnis</h3>
		<ul>
			<p>Zur Zeit registrierte Anbieter: 2345</p>
			
			<p>Hier können Sie auf alle Anbieter und ihre Angebote zugreifen. Suchen Sie 
			sich einen Anbieter aus, sichten Sie die Angebote und konfigurieren den Anbieter.</p>
			
			<p>Sie können die Angebote der Anbieter abonnieren oder einen Anbieter blocken. 
			Sie können die Anbieter und ihre Werbemittel auch bewerten und kommentieren.<br />&nbsp;</p>
			
			<h4>DIE NEUSTEN ANBIETER</h4>
			
			<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Eckmann AG</a><img align="right" src="images/new.gif" /></li>	
			<li><a href="<?php echo $this->url(array('controller'=>'provider','action'=>'detail','id'=>58),'default',true) ?>">Otto's</a><img align="right" src="images/new.gif" /></li>
			<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Allianz</a><img align="right" src="images/new.gif" /></li>
			<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">AM Trading</a><img align="right" src="images/new.gif" /></li>
			<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Dosenbach</a><img align="right" src="images/new.gif" /></li>
			<li class="last"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Pneu Egger</a><img align="right" src="images/new.gif" /></li>
						
		</ul>
	</div>
	
	<div class="info-box brown">
		<h3>Ihre Stop &amp; Go Mailbox: 4 neue Nachrichten</h3>
		<ul>
			
			<li class="first"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Mailbox öffnen</a></li>
			<li class="last"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Neue Newsletters finden</a></li>
		</ul>
		
	</div>
	
	<div class="info-box purple">
		<h3>Ihre Benutzer- und Profileinstellungen</h3>
		<ul>
			<li class="first"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Meine Themen verwalten</a></li>
			<li><a href="<?php echo $this->url(array('controller'=>'profile','action'=>'index'),'default',true) ?>">Ihre Basisdaten</a></li>
			<li class="last"><a href="<?php echo $this->url(array('controller'=>'profile','action'=>'interests'),'default',true) ?>">Ihre Interessen</a></li>
		</ul>
		
	</div>
	
	<div class="info-box brown">
		<h3>Ihre Suchabos</h3>
		<ul>
			<li class="first"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Suchabos verwalten</a></li>	
			<li><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Suchabos von anderen ansehen</a></li>
			<li class="last"><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">Neues Suchabo anlegen</a></li>
		</ul>
	</div>
	
	
	