		<div id="footer">
			<div id="footer-left-navigation">
		      	<a href="<?php echo $this->url(array('controller'=>'page','action'=>'bizcustomers'),'default',true) ?>">Gesch&auml;ftskunden</a><span>|</span> 
		      	<a href="<?php echo $this->url(array('controller'=>'page','action'=>'manifesto'),'default',true) ?>">Manifesto</a><span>|</span> 
		      	<a href="<?php echo $this->url(array('controller'=>'page','action'=>'guidelines'),'default',true) ?>">Leitfaden</a><span>|</span>   
		      	<a href="<?php echo $this->url(array('controller'=>'page','action'=>'info'),'default',true) ?>">Konzept &amp; Idee</a> 	
		    </div>
	    	<div id="footer-right-navigation">
		    	<a href="<?php echo $this->url(array('controller'=>'page','action'=>'about'),'default',true) ?>">Über Stop &amp; Go</a><span>|</span> 
		      	<a href="<?php echo $this->url(array('controller'=>'page','action'=>'waytogo'),'default',true) ?>">So geht's</a><span>|</span> 
		    	<a href="<?php echo $this->url(array('controller'=>'page','action'=>'faq'),'default',true) ?>">FAQ</a><span>|</span> 
		    	<a href="<?php echo $this->url(array('controller'=>'page','action'=>'privacy'),'default',true) ?>">Datenschutz</a><span>|</span> 
		      	<!-- <a href="<?php echo $this->url(array('controller'=>'page','action'=>'termsandcond'),'default',true) ?>">Allgemeine Gesch&auml;tsbedinungen</a><span>|</span> -->	      
		      	<a href="<?php echo $this->url(array('controller'=>'page','action'=>'contact'),'default',true) ?>">Kontakt</a>
	   		 </div>
	    <p>&nbsp;</p>
	    <a href="<?php echo $this->url(array('controller'=>'page','action'=>'footer'),'default',true) ?>">
	    <div id="footer-logos">
	    	<img src="images/logo_verisign.gif" />
	    	<img src="images/logo_goodprivacy.gif" height="33" />
	    	<img src="images/logo_sdv_trans.gif" />
	    	<img src="images/bsmv.gif" />
	    	<img src="images/logo_swissmail.gif" />
	    	<img src="images/logo_quickmail_trans.gif" />
	    </div>   
	    </a> 	    
		</div>
		<div id="copyright">
			Copyright &copy; 2011 by Swiss Mail &mdash; die private Post. Alle Rechte vorbehalten. <br />
			This is the Stop &amp; Go Prototype V 0.1.
		</div>