			<div id="header-navigation">
				<?php 
				if(Zend_Auth::getInstance()->hasIdentity()) {
				    echo '<a href="' . $this->url(array('controller'=>'auth','action'=>'logout'),'default',true) 
				                     . '">Logout (' . Zend_Auth::getInstance()->getIdentity() . ')</a><span>|&nbsp;</span>'; 
            echo '<a href="' . $this->url(array('controller'=>'profile','action'=>'index'),'default',true) 
				                     . '">Profil verwalten</a>'; 				                     
				}else{
				    echo '<a href="' . $this->url(array('controller'=>'auth','action'=>'login'),'default',true) 
				                     . '">Login</a><span>| </span>';
				    echo '<a href="' . $this->url(array('controller'=>'register','action'=>'index'),'default',true) 
				                     . '">Neu hier? Anmelden</a> <!-- <span>|</span> -->';
				}
				?>	       	      
	      <!-- <a href="<?php echo $this->url(array('controller'=>'page','action'=>'guidelines'),'default',true) ?>">Konsumenten-Leitfaden</a><span>|</span> -->
	      <!-- <a href="<?php echo $this->url(array('controller'=>'page','action'=>'faq'),'default',true) ?>">Fragen?</a> -->
	    </div>