	<div id="header-main-navigation">
			<?php 
				if(Zend_Auth::getInstance()->hasIdentity()) {
			?>
			<div class="purple">
				<a href="/">Home</a><span>|</span> 
	      <a href="<?php echo $this->url(array('controller'=>'material','action'=>'index'),'default',true) ?>">Publikationen</a><span>|</span>
	      <a href="<?php echo $this->url(array('controller'=>'provider','action'=>'index'),'default',true) ?>">Anbieter</a><span>|</span>
	      <a href="<?php echo $this->url(array('controller'=>'theme','action'=>'index'),'default',true) ?>">Themen</a><span>|</span>
	      <a href="<?php echo $this->url(array('controller'=>'groupsale','action'=>'index'),'default',true) ?>">Gruppen</a>
	    </div>				    	
	    <?php
	      } else {
	    ?>
	    <div class="green">
	    	<a href="/">Home</a><span>|</span> 
	    	<a href="<?php echo $this->url(array('controller'=>'page','action'=>'about'),'default',true) ?>">&Uuml;ber Stop &amp; Go</a><span>|</span>
	      <a href="<?php echo $this->url(array('controller'=>'page','action'=>'info'),'default',true) ?>">Konzept &amp; Idee</a><span>|</span>
	      <a href="<?php echo $this->url(array('controller'=>'page','action'=>'waytogo'),'default',true) ?>">So geht's</a>
	    </div>
	    <?php  
        }
      ?>
	</div>