<div class="teaser-box-row">
	<div class="teaser-box brown">
		<div class="tb-content">	
			<a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>"><img src="images/tb_mobile.gif" /></a>	
			<h3>Stop &amp; Go Mobile</h3>
			<p><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">&raquo; Stop &amp; Go on the move</a></p>
		</div>
	</div>
	<div class="teaser-box purple">
		<div class="tb-content">		
			<a href="<?php echo $this->url(array('controller'=>'page','action'=>'accountcredits'),'default',true) ?>"><img src="images/tb_guthaben.gif" /></a>	
			<h3>Ihr Guthaben</h3>
			<p><a href="<?php echo $this->url(array('controller'=>'page','action'=>'accountcredits'),'default',true) ?>">&raquo; Konto-Stand ansehen</a></p>
		</div>
	</div>
	<div class="teaser-box brown">
		<div class="tb-content">	
			<a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>"><img src="images/tb_tricks.gif" /></a>	
			<h3>Tipps &amp; Tricks</h3>
			<p><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">&raquo; Praktische Kniffs</a></p>
		</div>
	</div>
	<div class="teaser-box last purple">
		<div class="tb-content">	
			<a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>"><img src="images/tb_help.gif" /></a>		
			<h3>Hilfe &amp; Support</h3>
			<p><a href="<?php echo $this->url(array('controller'=>'page','action'=>'empty'),'default',true) ?>">&raquo; Lösungen anfordern</a></p>
		</div>
	</div>
</div>