<table border="0" width="100%" bgcolor="beige">
			 <tr bgcolor="orange" style="font-weight:bolder;"> 
			 <td>Anbieter</td><td>Anzahl</td><td>Print</td><td>Web</td><td>Mail</td><td>Stop or Go</td> 
			 </tr> 
			
			 <tr bgcolor="pink"> 
			 <td style="font-weight:bolder;">Belniani</td><td>3</td><td>OK</td><td>OK</td><td>OK</td><td>close | config</td> 
			 </tr> 
			
			 <tr> 
			 <td><img src="images/_dummy_theme_lille.jpg"></td><td>Designer-Linie Lille<br />Neu seit: 25.01.2011</td><td><a href="">order</a><br />7 pts</td><td><a href="">view</a><br />2 pts</td><td><a href="">send</a><br />5 pts</td><td><a href="">Merkliste</a><br /><a href="">Delete</a></td> 
			 </tr> 
			
			 <tr> 
			 <td><img src="images/_dummy_theme_nantes.jpg"></td><td>Designer-Linie Nantes<br />Neu seit: 25.01.2011</td><td><a href="">order</a><br />7 pts</td><td><a href="">view</a><br />2 pts</td><td><a href="">send</a><br />5 pts</td><td><a href="">Merkliste</a><br /><a href="">Delete</a></td> 
			 </tr> 
			
			 <tr> 
			 <td><img src="images/_dummy_theme_nizza.jpg"></td><td>Designer-Linie Nizza<br />Neu seit: 25.01.2011</td><td><a href="">order</a><br />7 pts</td><td><a href="">view</a><br />2 pts</td><td><a href="">send</a><br />5 pts</td><td><a href="">Merkliste</a><br /><a href="">Delete</a></td> 
			 </tr> 
			
			 <tr bgcolor="pink"> 
			 <td style="font-weight:bolder;">Diga</td><td>3</td><td>OK</td><td>OK</td><td>OK</td><td>close | config</td> 
			 </tr> 
			
			 <tr bgcolor="pink"> 
			 <td>Hubacher</td><td>3</td><td>OK</td><td>-</td><td>-</td><td>close | config</td> 
			 </tr> 
			
			 <tr bgcolor="pink"> 
			 <td style="font-weight:bolder;">IKEA</td><td>3</td><td>OK</td><td>OK</td><td>OK</td><td>close | config</td> 
			 </tr> 
			
			 <tr bgcolor="pink"> 
			 <td style="font-weight:bolder;">Jelmoli</td><td>3</td><td>OK</td><td>-</td><td>OK</td><td>close | config</td> 
			 </tr> 
			
			 <tr bgcolor="pink"> 
			 <td style="font-weight:bolder;">Märki</td><td>3</td><td>OK</td><td>OK</td><td>OK</td><td>close | config</td> 
			 </tr> 
			
			 <tr bgcolor="pink"> 
			 <td style="font-weight:bolder;">Micasa</td><td>3</td><td>OK</td><td>OK</td><td>OK</td><td>close | config</td> 
			 </tr> 
			
			 <tr bgcolor="pink"> 
			 <td style="font-weight:bolder;">Pfister</td><td>4</td><td>OK</td><td>-</td><td>OK</td><td>close | config</td> 
			 </tr> 
			
			 <tr bgcolor="pink"> 
			 <td style="font-weight:bolder;">Schubiger</td><td>3</td><td>OK</td><td>-</td><td>-</td><td>close | config</td> 
			 </tr> 
</table> 