<div class="content-column">
	<h2>Alle aktuellen Angebote von OTTO's</h2>
	<?php
	  $this->tabContainer()->captureStart('main-container',
                                    array('design' => 'headline', 'doLayout' => 'false'),
                                    array('style'=>'width:600px;'));
	  
	  echo $this->TeaserBoxenTabs($this->tabs);
    echo $this->tabContainer()->captureEnd('main-container');
  ?>
  
  <!-- User voting / sharing -->
  <h2>Diesen Anbieter bearbeiten</h2>
	<p>Sie können den Anbieter bewerten, konfigurieren, weiterempfehlen, drucken, als ungeeignet markieren oder speichern. <br />
	Sie können in den Angeboten suchen oder den Anbeiter auf Facebook teilen. <br />
	Sie können den Anbieter auch kommentieren.</p>
	<div class="user-votings-sharing">
		<img src="images/dummy_controls.gif">
		<img src="images/dummy_commentbox.gif">		
	</div>
  
  
  <h2>Statistiken von Otto's</h2>
	<p>Ausgelieferte Prospekte und Newsletters:</p>
	<?php echo $this->partial('partials/_statisticCharts.phtml', 
	                    array('caption1'=>'Prospekte pro Monat',
	                          'caption2'=>'Newsletter pro Monat')); ?>
</div>

<div class="box-column">
	<?php echo $this->partial('partials/_boxColumnProviderDetail.phtml'); ?>
</div>