<?php echo $this->partial('partials/_teaserBoxRow.phtml'); ?>

<?php echo $this->partial('partials/_searchBox.phtml'); ?>

<div class="content-column">
	<h1>Die Anbieter auf Stop &amp; Go</h1>
	
	<h2>Diese Anbieter haben aktuelle Werbemittel.</h2>
	
	<p>&nbsp;</p>
	<!-- <div class="search-box">
		<a href="#">A-F</a><span>|</span>
		<a href="#">G-L</a><span>|</span>
		<a href="#">M-R</a><span>|</span>
		<a href="#">S-Z</a><span>|</span>
		<a href="#">0-9</a>
	</div> -->
	
	<?php	echo $this->AlphasortedBoxes($this->providers, array('controller'=>'provider','action'=>'detail')); ?>	
</div>

<div class="box-column">
	<?php echo $this->partial('partials/_boxColumnProvider.phtml'); ?>
</div>